﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ React & X3Dom</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>
    <script src="../../../libs/highlight/highlight-jsx.js"></script>

    <script src="../../../libs/babel/babel.min.js"></script>
    <script src="../../../libs/x3dom/x3dom.js"></script>
    <link rel="stylesheet" href="../../../libs/x3dom/x3dom.css" />
    <script src="../../../libs/react/react.js"></script>
    <script src="../../../libs/react/react-dom.js"></script>

    <script src="../../../js/common.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>
<body class="uk-light uk-background-secondary">
	<div uk-sticky="show-on-up: true; media: 960">
		<div class="uk-position-top-left uk-padding-small examples">
			<a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
		</div>
	</div>
	<div class="uk-section uk-text-center">
		<h1>React & X3Dom</h1>
	</div>

	<div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

		<!-- #region App1 -->
		<div class="uk-width-1-1">
			<h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
		</div>
		<div>
			<div class="source">
				<ul class="uk-tab" uk-switcher>
					<li><a href="#"><span uk-icon="file-text"></span> React Aplikace <span class="code-icon html">JSX</span></a></li>
					<li><a href="#"><span uk-icon="file-text"></span> Zkompilovaný kód <span class="code-icon js">JS</span></a></li>
				</ul>
				<ul class="uk-switcher">
					<li>
<pre><code class="jsx">// Hlavní komponent aplikace
class ExampleApp1 extends React.Component {

	// konstruktor komponentu
	constructor(props) {
		super(props);
		this.state = {
			text: 'Hello world!',
			diffuseColor: '#dd3300',
			specularColor: '#ee9966'
		};
	}
	
	// metoda pro vykreslení scény
	renderScene() {
		return (
			&lt;x3d is="x3d"&gt;
				&lt;scene is="x3d"&gt;
					&lt;shape is="x3d"&gt;
						&lt;appearance is="x3d"&gt;
							&lt;material diffusecolor={this.state.diffuseColor} specularcolor={this.state.specularColor} is="x3d"&gt;&lt;/material&gt;
						&lt;/appearance&gt;
						&lt;text solid="false" string={this.state.text} is="x3d"&gt;
							&lt;fontstyle
								family="TYPEWRITER"
								justify="MIDDLE"
								quality={200}
								size={2}
								is="x3d"&gt;
							&lt;/fontstyle&gt;
						&lt;/text&gt;
					&lt;/shape&gt;
				&lt;/scene&gt;
			&lt;/x3d&gt;
		);
	}

	// metoda pro vykreslení ovládacích prvků
	renderControls() {
		return (
			&lt;form&gt;
				&lt;div&gt;
					&lt;label&gt;Text&lt;/label&gt;
					&lt;input type="text" value={this.state.text} onChange={(e) =&gt; this.setState({ text: e.target.value })} /&gt;
				&lt;/div&gt;
				&lt;div&gt;
					&lt;div className="grid"&gt;
						&lt;div&gt;
							&lt;label&gt;Základní barva&lt;/label&gt;
							&lt;div&gt;
								&lt;input type="color" value={this.state.diffuseColor} onChange={(e) =&gt; this.setState({ diffuseColor: e.target.value })} /&gt;
								&lt;span style={{ color: this.state.diffuseColor }}&gt;{this.state.diffuseColor}&lt;/span&gt;
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;div&gt;
							&lt;label&gt;Barva lesku&lt;/label&gt;
							&lt;div&gt;
								&lt;input type="color" value={this.state.specularColor} onChange={(e) =&gt; this.setState({ specularColor: e.target.value })} /&gt;
								&lt;span style={{ color: this.state.specularColor }}&gt;{this.state.specularColor}&lt;/span&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/form&gt;
		);
	}
	
	// hlavní vykreslovací metoda
	render() {
		return (
			&lt;div&gt;
				{this.renderScene()}
				{this.renderControls()}
			&lt;/div&gt;
		);
	}
}

// vykreslení aplikace do HTML elementu
ReactDOM.render(&lt;ExampleApp1 /&gt;, document.getElementById('app1'));
// zavolání X3Dom parseru
x3dom.reload();
</code></pre>
					</li>
					<li>
<pre><code class="javascript" id="code1">
</code></pre>
					</li>
				</ul>
			</div>
		</div>
		<div>
			<div id="app1"></div>
		</div>
		<!-- #endregion -->
		<!-- #region App2 -->
		<div class="uk-width-1-1">
			<h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
		</div>
		<div>
			<div class="source">
				<ul class="uk-tab" uk-switcher>
					<li><a href="#"><span uk-icon="file-text"></span> React Aplikace <span class="code-icon html">JSX</span></a></li>
					<li><a href="#"><span uk-icon="file-text"></span> Zkompilovaný kód <span class="code-icon js">JS</span></a></li>
				</ul>
				<ul class="uk-switcher">
					<li>
<pre><code class="jsx">// Bezstavový komponent pro 3D kostku
const BoxX3D = ({ instance, index }) =&gt; {
	const { position, size, color } = instance;
	return (
		&lt;transform translation={(index * 2) + ' 0 0'} is="x3d"&gt;
			&lt;transform translation={position.x + ' ' + position.y + ' ' + position.z} is="x3d"&gt;
				&lt;shape is="x3d"&gt;
					&lt;appearance is="x3d"&gt;
						&lt;material diffusecolor={color} is="x3d"&gt;&lt;/material&gt;
					&lt;/appearance&gt;
					&lt;box size={size.x + ' ' + size.y + ' ' + size.z} usegeocache="false" is="x3d"&gt;&lt;/box&gt;
				&lt;/shape&gt;
			&lt;/transform&gt;
		&lt;/transform&gt;
	);
}

// Bezstavový komponent pro ovládání kostky
const BoxControl = ({ instance, index, onChange, remove }) =&gt; {
	const { position, size, color } = instance;
	return (
		&lt;li&gt;
			&lt;div&gt;
				&lt;div className="grid"&gt;
					&lt;div&gt;
						&lt;label&gt;Objekt {index + 1}&lt;/label&gt;
						&lt;div&gt;
							&lt;input type="color" value={color} onChange={onChange((box, value) =&gt; box.color = value)} /&gt;
							&lt;span style={{ color: color }}&gt; { color } &lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div&gt;
						&lt;div className="grid"&gt;
							&lt;div&gt;
								&lt;label&gt;↔ W { Math.floor(size.x * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.x} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.x = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;↕ H { Math.floor(size.y * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.y} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.y = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;⤢ L { Math.floor(size.z * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.z} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.z = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;→ X { position.x }&lt;/label&gt;
								&lt;input type="range" value={position.x} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.x = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label"&gt;↑ Y { position.y }&lt;/label&gt;
								&lt;input type="range" value={position.y} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.y = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label"&gt;↗ Z { position.z }&lt;/label&gt;
								&lt;input type="range" value={position.z} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.z = value)} /&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div&gt;
						&lt;a onClick={() =&gt; remove()}&gt;Smazat&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/li&gt;
	);
}

// Hlavní komponent aplikace
class ExampleApp2 extends React.Component {

	// konstruktor komponentu
	constructor(props) {
		super(props);
		// stav komponentu
		this.state = {
			boxes: []
		};
	}

	// metoda pro získání funkce pro změnu stavu kostky
	changeState(index) {
		var that = this;
		return (boxStateHandler) => {
			return (e) => {
				var value = e.target.value;
				return that.setState((state) => {
					boxStateHandler(state.boxes[index], value);
					return state;
				});
			}
		}
	}

	// metoda volaná při připojení komponentu
	componentDidMount() {
		this.add();
		this.add();
	}

	// metoda pro smazání kostky
	remove(index) {
		var that = this;
		return () => {
			return that.setState((state) => {
				state.boxes.splice(index, 1);
				return state;
			});
		}
	}

	// metoda pro přidání kostky
	add() {
		this.setState((state) => {
			state.boxes.push({
				position: { x: 0, y: 0, z: 0 },
				size: { x: 1, y: 1, z: 1 },
				color: "#ff9900" // nebo jiná náhodná barva
			});
			return state;
		});
	};

	// hlavní vykreslovací metoda
	render() {
		return (
			&lt;div&gt;
				&lt;x3d is="x3d"&gt;
					&lt;scene is="x3d"&gt;
						&lt;transform translation={( - this.state.boxes.length + 1) + ' 0 0'} is="x3d"&gt;
							{this.state.boxes.map((box, index) =&gt; (
								&lt;BoxX3D instance={box} index={index} key={index} /&gt;
							))}
						&lt;/transform&gt;
					&lt;/scene&gt;
				&lt;/x3d&gt;
				&lt;form&gt;
					&lt;ul&gt;
						{this.state.boxes.map((box, index) =&gt; (
							&lt;BoxControl instance={box} index={index} key={index} onChange={this.changeState(index)} remove={this.remove(index)} /&gt;
						))}
					&lt;/ul&gt;
					&lt;a onClick={(e) =&gt; this.add()} className="uk-link-reset"&gt;&lt;span uk-icon="plus"&gt;&lt;/span&gt; Přidat nový objekt&lt;/a&gt;
				&lt;/form&gt;
			&lt;/div&gt;
		);
	}
}

// vykreslení aplikace do HTML elementu
ReactDOM.render(&lt;ExampleApp2 /&gt;, document.getElementById('app2'));
// zavolání X3Dom parseru
x3dom.reload();
</code></pre>
					</li>
					<li>
<pre><code class="javascript" id="code2">
</code></pre>
					</li>
				</ul>
			</div>
		</div>
		<div>
			<div id="app2"></div>
		</div>
		<!-- #endregion -->
		<!-- #region App3 -->
		<div class="uk-width-1-1">
			<h2 class="uk-heading-line"><span>Ukázka #3 - Pokročilejší scéna</span></h2>
		</div>
		<div>
			<div class="source">
				<ul class="uk-tab" uk-switcher>
					<li><a href="#"><span uk-icon="file-text"></span> React Aplikace <span class="code-icon html">JSX</span></a></li>
					<li><a href="#"><span uk-icon="file-text"></span> Zkompilovaný kód <span class="code-icon js">JS</span></a></li>
				</ul>
				<ul class="uk-switcher">
					<li>
<pre><code class="jsx">// Bezstavový komponent 3D sedadla
const Seat = ({ row, column, enabled, picker }) =&gt; {
	const click = 'window.SeatPicker(' + row + ',' + column + ')()';
	return (
		&lt;transform translation={(column * 1.4) + ' ' + (row * -0.5) + ' ' + (row * 2.5)} is="x3d"&gt;
			&lt;shape is="x3d" onclick={click}&gt;
				&lt;appearance is="x3d"&gt;
					&lt;material diffusecolor={enabled ? '#0099ff' : '#ff9900'} is="x3d"&gt;&lt;/material&gt;
				&lt;/appearance&gt;
				&lt;box size="0.6 0.5 0.5" usegeocache="false" is="x3d"&gt;&lt;/box&gt;
			&lt;/shape&gt;
			&lt;transform translation="0.4 0.15 0" is="x3d"&gt;
				&lt;shape is="x3d" onclick={click}&gt;
					&lt;appearance is="x3d"&gt;
						&lt;material diffusecolor={enabled ? '#0055ee' : '#ee5500'} is="x3d"&gt;&lt;/material&gt;
					&lt;/appearance&gt;
					&lt;box size="0.2 0.8 0.6" usegeocache="false" is="x3d"&gt;&lt;/box&gt;
				&lt;/shape&gt;
			&lt;/transform&gt;
			&lt;transform translation="-0.4 0.15 0" is="x3d"&gt;
				&lt;shape is="x3d" onclick={click}&gt;
					&lt;appearance is="x3d"&gt;
						&lt;material diffusecolor={enabled ? '#0055ee' : '#ee5500'} is="x3d"&gt;&lt;/material&gt;
					&lt;/appearance&gt;
					&lt;box size="0.2 0.8 0.6" usegeocache="false" is="x3d"&gt;&lt;/box&gt;
				&lt;/shape&gt;
			&lt;/transform&gt;
			&lt;transform translation="0 0.35 -0.25" is="x3d"&gt;
				&lt;shape is="x3d" onclick={click}&gt;
					&lt;appearance is="x3d"&gt;
						&lt;material diffusecolor={enabled ? '#0077ff' : '#ff7700'} is="x3d"&gt;&lt;/material&gt;
					&lt;/appearance&gt;
					&lt;box size="0.8 1.2 0.1" usegeocache="false" is="x3d"&gt;&lt;/box&gt;
				&lt;/shape&gt;
			&lt;/transform&gt;
		&lt;/transform&gt;
	);
}

// Bezstavový komponent tlačítka pro výběr sedadla
const SeatButton = ({ row, column, enabled, picker }) =&gt; {
	const click = () =&gt; picker(row, column);
	return (
		&lt;input type='button' className={enabled ? 'uk-button seat-free' : 'uk-button seat-taken'} onClick={click} value={'S ' + (column + 1)} /&gt;
	);
}

// Hlavní komponent aplikace
class ExampleApp3 extends React.Component {

	// konstruktor komponentu
	constructor(props) {
		super(props);
		// stav komponentu
		this.state = {
			seats: [
				[true, true, true, true, true, true, true],
				[true, true, true, true, true, true, true],
				[true, true, true, true, true, true, true],
				[true, true, true, true, true, true, true]
			],
			free: 28,
			taken: 0
		};
	}

	// metoda pro získání funkce na vybrání sedadla
	getSeatPicker() {
		var that = this;
		return (row, column) =&gt; {
			that.setState((state) =&gt; {
				state.seats[row][column] = !state.seats[row][column];
				state.seats[row][column] ? (state.free++ , state.taken--) : (state.taken++ , state.free--);
				return state;
			});
		}
	}

	// metoda volaná při připojení komponentu
	componentDidMount() {
		// zpřístupnění funkce pro X3Dom
		window.SeatPicker = this.getSeatPicker();
	}
	
	// metoda pro vykreslování
	render() {
		return (
			&lt;div&gt;
				&lt;!-- 3D scéna --&gt;
				&lt;x3d is="x3d"&gt;
					&lt;scene is="x3d"&gt;
						&lt;transform rotation={'1 0 0 ' + Math.PI / 6} is="x3d"&gt;
							&lt;transform translation={((-this.state.seats[0].length / 2) - 0.5) + ' 0 ' + (-this.state.seats.length * 1.2)} is="x3d"&gt;
								{this.state.seats.map((row, rowIndex) =&gt; (
									row.map((enabled, colIndex) =&gt; (
										&lt;Seat row={rowIndex} column={colIndex} enabled={enabled} key={rowIndex + 'x' + colIndex} /&gt;
									))
								))}
							&lt;/transform&gt;
						&lt;/transform&gt;
					&lt;/scene&gt;
				&lt;/x3d&gt;
				&lt;!-- tabulka --&gt;
				&lt;form&gt;
					&lt;h3&gt;Vyberte sedadlo&lt;/h3&gt;
					&lt;table&gt;
						&lt;caption&gt;Obsazeno je {this.state.taken}, zbývá {this.state.free} volných míst&lt;/caption&gt;
						&lt;tbody&gt;
							&lt;!-- cyklus pro tabulku sedadel --&gt;
							{this.state.seats.map((row, rowIndex) =&gt; (
								&lt;tr key={rowIndex}&gt;
									&lt;td&gt;Řada {rowIndex+1}&lt;/td&gt;
									{row.map((enabled, colIndex) =&gt; (
										&lt;td key={rowIndex + 'x' + colIndex}&gt;
											&lt;SeatButton row={rowIndex} column={colIndex} enabled={enabled} picker={this.getSeatPicker()} /&gt;
										&lt;/td&gt;
									))}
								&lt;/tr&gt;
							))}
						&lt;/tbody&gt;
					&lt;/table&gt;
				&lt;/form&gt;
			&lt;/div&gt;
		);
	}
}

// vykreslení aplikace do HTML elementu
ReactDOM.render(&lt;ExampleApp3 /&gt;, document.getElementById('app3'));
// zavolání X3Dom parseru
x3dom.reload();
</code></pre>
					</li>
					<li>
<pre><code class="javascript" id="code3">
</code></pre>
					</li>
				</ul>
			</div>
		</div>
		<div>
			<div id="app3"></div>
		</div>
		<!-- #endregion -->

	</div>


	<script src="index.jsx" type="text/babel">
	</script>
</body>
</html>