﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ Vue.js & X3Dom</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>

    <script src="../../../js/common.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />

    <script src="../../../libs/x3dom/x3dom.js"></script>
    <link rel="stylesheet" href="../../../libs/x3dom/x3dom.css" />
    <script src="../../../libs/vue/vue.min.js"></script>
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>Vue.js & X3Dom</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona 3D scény a ovládání <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
    &lt;!-- X3Dom scéna --&gt;
    &lt;x3d&gt;
        &lt;scene&gt;
            &lt;shape&gt;
                &lt;appearance&gt;
                    &lt;material :diffusecolor="diffuseColor" :specularcolor="specularColor"&gt;&lt;/material&gt;
                &lt;/appearance&gt;
                &lt;text solid="false" :string="text"&gt;
                    &lt;fontstyle family="TYPEWRITER" justify="MIDDLE" size="2"&gt;&lt;/fontstyle&gt;
                &lt;/text&gt;
            &lt;/shape&gt;
        &lt;/scene&gt;
    &lt;/x3d&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
	    &lt;div&gt;
		    &lt;label&gt;Text&lt;/label&gt;
            &lt;!-- Vstup pro text s obousměrným data-bindingem v-model --&gt;
		    &lt;input type="text" v-model="text" /&gt;
	    &lt;/div&gt;
	        &lt;div class="grid"&gt;
		    &lt;div&gt;
			    &lt;label&gt;Základní barva&lt;/label&gt;
			    &lt;div&gt;
				    &lt;input type="color" v-model="diffuseColor" /&gt;
				    &lt;span :style="'color: ' + diffuseColor"&gt; {{ diffuseColor }} &lt;/span&gt;
			    &lt;/div&gt;
		    &lt;/div&gt;
		    &lt;div&gt;
			    &lt;label&gt;Barva lesku&lt;/label&gt;
			    &lt;div&gt;
				    &lt;input type="color" v-model="specularColor" /&gt;
				    &lt;span :style="'color: ' + specularColor"&gt; {{ specularColor }} &lt;/span&gt;
			    &lt;/div&gt;
		    &lt;/div&gt;
	    &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// Vue aplikace
var app1 = new Vue({
    el: '#app1',
    data: {
        text: 'Hello world!',
        diffuseColor: '#dd3300',
        specularColor: '#ee9966'
    }
});
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app1">
                <div>
                    <x3d>
                        <scene>
                            <shape>
                                <appearance>
                                    <material :diffusecolor="diffuseColor" :specularcolor="specularColor"></material>
                                </appearance>
                                <text solid="false" :string="text">
                                    <fontstyle family="TYPEWRITER"
                                               justify="MIDDLE"
                                               quality="200"
                                               size="2">
                                    </fontstyle>
                                </text>
                            </shape>
                        </scene>
                    </x3d>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label">Text</label>
                            <div class="uk-form-controls">
                                <input type="text" v-model="text" class="uk-input" />
                            </div>
                        </div>
                        <div class="uk-margin-small-top">
                            <div class="uk-child-width-1-2 uk-grid-small" uk-grid>
                                <div>
                                    <label class="uk-form-label">Základní barva</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="diffuseColor" />
                                        <span :style="'color: ' + diffuseColor"> {{ diffuseColor }} </span>
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Barva lesku</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="specularColor" />
                                        <span :style="'color: ' + specularColor"> {{ specularColor }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona 3D scény a ovládání <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
    &lt;!-- X3Dom scéna --&gt;
    &lt;x3d&gt;
        &lt;scene&gt;
            &lt;!-- Cyklus s využitím directivy v-for pro vykreslení všech kostek --&gt;
            &lt;group v-for="(item, index) in items"&gt;
                &lt;transform :translation="((index - ((items.length - 1) / 2)) * 2) + ' 0 0'"&gt;
                    &lt;transform :translation="item.position.x + ' ' + item.position.y + ' ' + item.position.z"&gt;
                        &lt;shape&gt;
                            &lt;appearance&gt;
                                &lt;material :diffuseColor="item.color"&gt;&lt;/material&gt;
                            &lt;/appearance&gt;
                            &lt;box :size="item.size.x + ' ' + item.size.y + ' ' + item.size.z" useGeoCache="false"&gt;
                            &lt;/box&gt;
                        &lt;/shape&gt;
                    &lt;/transform&gt;
                &lt;/transform&gt;
            &lt;/group&gt;
        &lt;/scene&gt;
    &lt;/x3d&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;ul&gt;
            &lt;!-- Cyklus s využitím directivy v-for pro ovládací panely ke všem kostkám --&gt;
            &lt;li v-for="(item, index) in items"&gt;
                &lt;div class="grid"&gt;
                    &lt;div&gt;
                        &lt;label&gt;Objekt #{{index + 1}}&lt;/label&gt;
                        &lt;div&gt;
                            &lt;input type="color" v-model="item.color" /&gt;
                            &lt;span :style="'color: ' + item.color"&gt; {{ item.color }} &lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Šířka {{ Math.floor(item.size.x * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.x" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Výška {{ Math.floor(item.size.y * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.y" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Délka {{ Math.floor(item.size.z * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.z" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;X {{ item.position.x }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.x" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Y {{ item.position.y }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.y" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Z {{ item.position.z }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.z" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;!-- Tlačítko napojené na metodu pro smazání kostky --&gt;
                        &lt;a v-on:click="remove(index)"&gt;Smazat&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;!-- Tlačítko napojené na metodu pro přidání kostky --&gt;
        &lt;a v-on:click="add()" &gt; Přidat nový objekt&lt;/a&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// Vue aplikace
var app2 = new Vue({
    el: '#app2',
    data: {
        items: [],
    },
    methods: {
        // metoda pro přidání kostky
        add: function () {
            this.items.push({
                size: { x: 1, y: 1, z: 1 },
                position: { x: 0, y: 0, z: 0 },
                color: getRandomColor()
            });
        },
        // metoda pro smazání kostky
        remove: function (index) {
            this.items.splice(index, 1);
        }
    },
    // metoda volaná při inicializaci
    created: function () {
        this.add();
        this.add();
    }
});
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app2">
                <div>
                    <x3d>
                        <scene>
                            <group v-for="(item, index) in items">
                                <transform :translation="((index - ((items.length - 1) / 2)) * 2) + ' 0 0'">
                                    <transform :translation="item.position.x + ' ' + item.position.y + ' ' + item.position.z">
                                        <shape>
                                            <appearance>
                                                <material :diffuseColor="item.color"></material>
                                            </appearance>
                                            <box :size="item.size.x + ' ' + item.size.y + ' ' + item.size.z" useGeoCache="false"></box>
                                        </shape>
                                    </transform>
                                </transform>
                            </group>
                        </scene>
                    </x3d>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <ul class="uk-list">
                            <li v-for="(item, index) in items">
                                <div class="uk-margin-small-top uk-box-shadow-small uk-padding-small">
                                    <div class="uk-grid-small" uk-grid>
                                        <div class="uk-width-auto">
                                            <label class="uk-form-label">Objekt #{{index + 1}}</label>
                                            <div class="uk-form-controls">
                                                <input type="color" v-model="item.color" uk-tooltip="Barva" />
                                                <span :style="'color: ' + item.color"> {{ item.color }} </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-expand">
                                            <div class="uk-child-width-1-6 uk-grid-small uk-text-center" uk-grid>
                                                <div>
                                                    <label class="uk-form-label">↔ W {{ Math.floor(item.size.x * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.x" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↕ H {{ Math.floor(item.size.y * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.y" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">⤢ L {{ Math.floor(item.size.z * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.z" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">→ X {{ item.position.x }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.x" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↑ Y {{ item.position.y }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.y" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↗ Z {{ item.position.z }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.z" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto uk-text-right">
                                            <a class="uk-icon-link" uk-tooltip="Smazat" uk-icon="icon: close; ratio: 1.5" v-on:click="remove(index)"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a v-on:click="add()" class="uk-link-reset"><span uk-icon="plus"></span> Přidat nový objekt</a>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region App3 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #3 - Pokročilejší scéna</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> 3D Scéna <span class="code-icon xml">X3DOM</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Ovládání <span class="code-icon html">HTML</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;x3d&gt;
	&lt;scene&gt;
		&lt;navigationinfo headlight="false"&gt;&lt;/navigationinfo&gt;
		&lt;viewpoint position="0 0 14" set_bind="true"&gt;&lt;/viewpoint&gt;
		&lt;transform rotation="1 0 0 1.0471975511965976"&gt;
			&lt;DirectionalLight direction="0.5 -1 0" on="true" intensity="0.6" shadowIntensity="0.2"&gt;&lt;/DirectionalLight&gt;
			&lt;transform translation="0 -0.05 0"&gt;
				&lt;shape&gt;
					&lt;appearance&gt;
						&lt;material diffuseColor="0.05 0.4 0.05"&gt;&lt;/material&gt;
					&lt;/appearance&gt;
					&lt;box size="16 0.1 6"&gt;&lt;/box&gt;
				&lt;/shape&gt;
			&lt;/transform&gt;
			&lt;transform rotation="1 0 0 -1.5707963267948966" translation="0 0.01 -1.6"&gt;
				&lt;gold-text text="LED diody (8 bitů)" size="1"&gt;&lt;/gold-text&gt;
			&lt;/transform&gt;
			&lt;group v-for="(led, index) in leds"&gt;
				&lt;transform :translation="((((leds.length - index) - (leds.length / 2)) * 2) - 1) + ' 0 0'"&gt;
					&lt;group def="ledSwitch"&gt;
						&lt;transform translation="0 0.01 1" rotation="1 0 0 -1.5707963267948966"&gt;
							&lt;gold-text :text="Math.pow(2, index)" size="0.5"&gt;&lt;/gold-text&gt;
						&lt;/transform&gt;
						&lt;transform translation="0 0.15 -0.25"&gt;
							&lt;transform translation="0 0.95 0"&gt;
								&lt;PointLight :on="led.state" :intensity="led.state ? 4 : 0.2" :color="color" radius="3" shadowIntensity="0"&gt;&lt;/PointLight&gt;
								&lt;shape&gt;
									&lt;led-material :state="led.state" :color="color"&gt;&lt;/led-material&gt;
									&lt;sphere radius="0.6"&gt;&lt;/sphere&gt;
								&lt;/shape&gt;
							&lt;/transform&gt;
							&lt;transform translation="0 0.55 0"&gt;
								&lt;shape&gt;
									&lt;led-material :state="led.state" :color="color"&gt;&lt;/led-material&gt;
									&lt;cylinder height="0.8" radius="0.6"&gt;&lt;/cylinder&gt;
								&lt;/shape&gt;
							&lt;/transform&gt;
							&lt;shape&gt;
								&lt;led-material :state="led.state" :color="color"&gt;&lt;/led-material&gt;
								&lt;cylinder height="0.3" radius="0.66"&gt;&lt;/cylinder&gt;
							&lt;/shape&gt;
						&lt;/transform&gt;
						&lt;transform translation="0 0.25 2"&gt;
							&lt;transform translation="0 0.35 0"&gt;
								&lt;shape :onclick="'app3.lightSwitch(' + index + ')'"&gt;
									&lt;appearance&gt;
										&lt;material diffuseColor="0.5 0.5 0.8"&gt;&lt;/material&gt;
									&lt;/appearance&gt;
									&lt;cylinder :height="led.state ? 0.2 : 0.6" radius="0.4"&gt;&lt;/cylinder&gt;
								&lt;/shape&gt;
							&lt;/transform&gt;
							&lt;shape&gt;
								&lt;appearance&gt;
									&lt;material diffuseColor="0.1 0.1 0.1"&gt;&lt;/material&gt;
								&lt;/appearance&gt;
								&lt;box size="1.4 0.5 1.4"&gt;&lt;/box&gt;
							&lt;/shape&gt;
						&lt;/transform&gt;
					&lt;/group&gt;
				&lt;/transform&gt;
			&lt;/group&gt;
		&lt;/transform&gt;
	&lt;/scene&gt;
&lt;/x3d&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// Vue komponent pro materiál LED diody
Vue.component('led-material', Vue.extend({
    props: ['state', 'color'],
    template: '&lt;appearance&gt;&lt;material :diffuseColor="state ? color : \'0.4 0.4 0.4\'" :emissiveColor="state ? color : \'0.6 0.6 0.6\'" transparency="0.2" :shininess="state ? 25 : 0.2"&gt;&lt;/material&gt;&lt;/appearance&gt;'
}));

// Vue komponent pro zlatý text
Vue.component('gold-text', Vue.extend({
    props: ['text', 'size'],
    template: '&lt;shape&gt;&lt;appearance&gt;&lt;material ambientintensity="0.1" diffusecolor="1 0.6 0" shininess="0.5" specularcolor="0.8 0.4 0" emissivecolor="0 0 0"&gt;&lt;/material&gt;&lt;/appearance&gt;&lt;text :string="text" solid="false" ccw="true" usegeocache="true" lit="true"&gt;&lt;fontstyle family="TYPEWRITER" style="NORMAL" :size="size" justify="MIDDLE" quality="4"&gt;&lt;/fontstyle&gt;&lt;/text&gt;&lt;/shape&gt;'
}));

// Vue aplikace
var app3 = new Vue({
    el: '#app3',
    data: {
        leds: [
            { state: false },
            { state: true },
            { state: false },
            { state: false },
            { state: true },
            { state: true },
            { state: false },
            { state: false },
        ],
        color: '#ff0000',
    },
    // dopočítáváné vlastnosti pro hexadecimální a binární zápis
    computed: {
        int: {
            get: function () {
                var r = 0;
                for (var i = 0; i < this.leds.length; i++) {
                    r += this.leds[i].state ? Math.pow(2, i) : 0;
                }
                return r;
            },
            set: function (v) {
                var bin = toBin(v);
                for (var i = 0; i < this.leds.length; i++) {
                    this.leds[this.leds.length - i - 1].state = bin[i] == "1";
                }
            }
        },
        hex: {
            get: function () { return toHex(this.int); },
            set: function (v) { this.int = parseInt(v, 16); }
        },
        bin: {
            get: function () { return toBin(this.int); },
            set: function (v) { this.int = parseInt(v, 2); }
        }
    },
    methods: {
        // metoda pro přepnutí LED diody
        lightSwitch: function (index) {
            this.leds[index].state = !this.leds[index].state;
        }
    }
});
</code></pre>
                    </li>
                    <li>
<pre><code class="xml">
&lt;form&gt;
	&lt;div&gt;
		&lt;label&gt;
			&lt;span class="left"&gt;0&lt;/span&gt;
			&lt;span class="right"&gt;255&lt;/span&gt;
		&lt;/label&gt;
		&lt;div&gt;
			&lt;input type="range" v-model="int" min="0" max="255" step="1" /&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div&gt;
		&lt;div class="grid"&gt;
			&lt;div&gt;
				&lt;label&gt;Číslo&lt;/label&gt;
				&lt;input type="text" v-model="int" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Binární zápis&lt;/label&gt;
				&lt;input type="text" v-model="bin" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Hexadecimální zápis&lt;/label&gt;
				&lt;input type="text" v-model="hex" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Barva světla&lt;/label&gt;
				&lt;input type="color" v-model="color" /&gt;
				&lt;span :style="'color: ' + color"&gt; {{ color }} &lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/form&gt;
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app3">
                <div>
                    <x3d>
                        <scene>
                            <navigationinfo headlight="false"></navigationinfo>
                            <viewpoint position="0 0 14" set_bind="true"></viewpoint>
                            <transform rotation="1 0 0 1.0471975511965976">
                                <DirectionalLight direction="0.5 -1 0" on="true" intensity="0.6" shadowIntensity="0.2"></DirectionalLight>
                                <transform translation="0 -0.05 0">
                                    <shape>
                                        <appearance>
                                            <material diffuseColor="0.05 0.4 0.05"></material>
                                        </appearance>
                                        <box size="16 0.1 6"></box>
                                    </shape>
                                </transform>
                                <transform rotation="1 0 0 -1.5707963267948966" translation="0 0.01 -1.6">
                                    <gold-text text="LED diody (8 bitů)" size="1"></gold-text>
                                </transform>
                                <group v-for="(led, index) in leds">
                                    <transform :translation="((((leds.length - index) - (leds.length / 2)) * 2) - 1) + ' 0 0'">
                                        <group def="ledSwitch">
                                            <transform translation="0 0.01 1" rotation="1 0 0 -1.5707963267948966">
                                                <gold-text :text="Math.pow(2, index)" size="0.5"></gold-text>
                                            </transform>
                                            <transform translation="0 0.15 -0.25">
                                                <transform translation="0 0.95 0">
                                                    <PointLight :on="led.state" :intensity="led.state ? 4 : 0.2" :color="color" radius="3" shadowIntensity="0"></PointLight>
                                                    <shape>
                                                        <led-material :state="led.state" :color="color"></led-material>
                                                        <sphere radius="0.6"></sphere>
                                                    </shape>
                                                </transform>
                                                <transform translation="0 0.55 0">
                                                    <shape>
                                                        <led-material :state="led.state" :color="color"></led-material>
                                                        <cylinder height="0.8" radius="0.6"></cylinder>
                                                    </shape>
                                                </transform>
                                                <shape>
                                                    <led-material :state="led.state" :color="color"></led-material>
                                                    <cylinder height="0.3" radius="0.66"></cylinder>
                                                </shape>
                                            </transform>
                                            <transform translation="0 0.25 2">
                                                <transform translation="0 0.35 0">
                                                    <shape :onclick="'app3.lightSwitch(' + index + ')'">
                                                        <appearance>
                                                            <material diffuseColor="0.5 0.5 0.8"></material>
                                                        </appearance>
                                                        <cylinder :height="led.state ? 0.2 : 0.6" radius="0.4"></cylinder>
                                                    </shape>
                                                </transform>
                                                <shape>
                                                    <appearance>
                                                        <material diffuseColor="0.1 0.1 0.1"></material>
                                                    </appearance>
                                                    <box size="1.4 0.5 1.4"></box>
                                                </shape>
                                            </transform>
                                        </group>
                                    </transform>
                                </group>
                            </transform>
                        </scene>
                    </x3d>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label uk-width-1-1">
                                <span class="uk-float-left">0</span>
                                <span class="uk-float-right">255</span>
                            </label>
                            <div class="uk-form-controls">
                                <input type="range" v-model="int" min="0" max="255" step="1" class="uk-range" />
                            </div>
                        </div>
                        <div class="uk-margin-small-top">
                            <div class="uk-child-width-1-4 uk-grid-small" uk-grid>
                                <div>
                                    <label class="uk-form-label">Číslo</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="int" class="uk-input" maxlength="3" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Binární zápis</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="bin" class="uk-input" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Hexadecimální zápis</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="hex" class="uk-input" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Barva světla</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="color" uk-tooltip="Barva" />
                                        <span :style="'color: ' + color"> {{ color }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->

    </div>


    <script src="index.js"></script>
</body>
</html>