﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ React & Three.js & react-three-fiber</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>
    <script src="../../../libs/highlight/highlight-jsx.js"></script>

    <script src="../../../js/common.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>React & Three.js & react-three-fiber</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> React Aplikace <span class="code-icon html">JSX</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Instalace <span class="code-icon cmd">CMD</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="jsx">// Vyžaduje kompilaci pomocí: npm run build
import React, { Suspense, useMemo, useRef } from 'react';
import ReactDOM from 'react-dom';
import * as THREE from 'three';
import { Canvas, useLoader, useUpdate, useThree, useRender, extend } from 'react-three-fiber';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';


// Bezstavový komponent pro 3D objekt textu
const Text = ({ children, vAlign = 'center', hAlign = 'center', size = 1, diffuseColor = '#dd3300', emissiveColor = '#ee9966', ...props }) => {
  const font = useLoader(THREE.FontLoader, '../../../libs/threejs/three.helvetiker.json');
  const config = useMemo(
    () =&gt; ({ font, size: 20, height: 4, curveSegments: 32 }),
    [font]
  );
  const mesh = useUpdate(
    self =&gt; {
      const size = new THREE.Vector3();
      self.geometry.computeBoundingBox();
      self.geometry.boundingBox.getSize(size);
      self.position.x = hAlign === 'center' ? -size.x / 2 : hAlign === 'right' ? 0 : -size.x;
      self.position.y = vAlign === 'center' ? -size.y / 2 : vAlign === 'top' ? 0 : -size.y;
	  self.material.color.setStyle(diffuseColor);
	  self.material.emissive.setStyle(emissiveColor);
    },
    [children]
  );
  return (
    &lt;group {...props} scale={[0.1 * size, 0.1 * size, 0.1]}&gt;
      &lt;mesh ref={mesh}&gt;
        &lt;textGeometry attach="geometry" args={[children, config]} /&gt;
        &lt;meshStandardMaterial attach="material" color={diffuseColor} emissive={emissiveColor} emissiveIntensity={0.4} /&gt;
      &lt;/mesh&gt;
    &lt;/group&gt;
  )
}


// Bezstavový komponent ovládání uvnitř scény
extend({ OrbitControls });
const Controls = (props) =&gt; {
    const { camera, gl } = useThree();
    const controls = useRef();
    useRender(({ camera }) =&gt; {
        controls.current && controls.current.update();
        camera.updateMatrixWorld();
    });
    return &lt;orbitControls ref={controls} args={[camera, gl.domElement]} {...props} /&gt;;
};


// Hlavní komponent aplikace
class ExampleApp1 extends React.Component {

	// konstruktor komponentu
	constructor(props) {
		super(props);
		this.state = {
			text: 'Hello world!',
			diffuseColor: '#dd3300',
			emissiveColor: '#ee9966'
		};
	}
	
    // metoda pro vykreslení scény
	renderScene() {
		return (
			&lt;div className="fixed-ratio"&gt;
				&lt;Canvas camera={{ position: [0, 0, 5] }}&gt;
					&lt;Controls /&gt;
					&lt;pointLight position={[2, 2, 5]} /&gt;
					&lt;Suspense fallback={null}&gt;
						&lt;Text hAlign="center" position={[0, 0, 0]} children={this.state.text} diffuseColor={this.state.diffuseColor} emissiveColor={this.state.emissiveColor} /&gt;
					&lt;/Suspense&gt;
				&lt;/Canvas&gt;
			&lt;/div&gt;
		);
	}

	// metoda pro vykreslení ovládacích prvků
	renderControls() {
		return (
			&lt;form&gt;
				&lt;div&gt;
					&lt;label&gt;Text&lt;/label&gt;
					&lt;!-- data-binding textu do vstupu, listener pro změnu --&gt;
					&lt;input type="text"
                        value={this.state.text}
                        onChange={(e) =&gt; this.setState({ text: e.target.value })}
                    /&gt;
				&lt;/div&gt;
				&lt;div className="grid"&gt;
				    &lt;div&gt;
					    &lt;label&gt;Základní barva&lt;/label&gt;
					    &lt;div&gt;
						    &lt;input 
                                type="color"
                                value={this.state.diffuseColor}
                                onChange={(e) =&gt; this.setState({ diffuseColor: e.target.value })} 
                            /&gt;
						    &lt;span style={{ color: this.state.diffuseColor }}&gt;{this.state.diffuseColor}&lt;/span&gt;
					    &lt;/div&gt;
				    &lt;/div&gt;
				    &lt;div&gt;
					    &lt;label&gt;Vyzařovaná barva&lt;/label&gt;
					    &lt;div&gt;
						    &lt;input 
                                type="color"
                                value={this.state.emissiveColor}
                                onChange={(e) =&gt; this.setState({ emissiveColor: e.target.value })} 
                            /&gt;
						    &lt;span style={{ color: this.state.emissiveColor }}&gt;{this.state.emissiveColor}&lt;/span&gt;
					    &lt;/div&gt;
				    &lt;/div&gt;
				&lt;/div&gt;
			&lt;/form&gt;
		);
	}
	
	// hlavní metoda pro vykreslování
	render() {
		return (
			&lt;div&gt;
				{this.renderScene()}
				{this.renderControls()}
			&lt;/div&gt;
		);
	}
}

// vykreslení aplikace do HTML elementu
ReactDOM.render(&lt;ExampleApp1 /&gt;, document.getElementById('app1'));
</code></pre>
                    </li>
                    <li>
<pre><code class="shell">
npm install
npm install react
npm install react-dom
npm install react-scripts
npm install three
npm install react-three-fiber
npm run start
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app1"></div>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> React Aplikace <span class="code-icon html">JSX</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Instalace <span class="code-icon cmd">CMD</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="jsx">// Vyžaduje kompilaci pomocí: npm run build
    
// importy
import React, { useRef } from 'react';
import ReactDOM from 'react-dom';
import * as THREE from 'three';
import { Canvas, useThree, useRender, extend } from 'react-three-fiber';
import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls';

// Bezstavový komponent ovládání uvnitř scény
extend({ OrbitControls });
const Controls = (props) =&gt; {
    const { camera, gl } = useThree();
    const controls = useRef();
    useRender(({ camera }) =&gt; {
        controls.current && controls.current.update();
        camera.updateMatrixWorld();
    })
    return &lt;orbitControls ref={controls} args={[camera, gl.domElement]} {...props} /&gt;;
}

// Bezstavový komponent kostky
const BoxThree = ({ instance, index }) =&gt; {
    const { position, size, color } = instance;
    return (
        &lt;group position={new THREE.Vector3(index * 2, 0, 0)}&gt;
            &lt;mesh position={new THREE.Vector3(position.x, position.y, position.z)}&gt;
                &lt;boxBufferGeometry attach="geometry" args={[size.x, size.y, size.z]} /&gt;
                &lt;meshStandardMaterial attach="material" color={new THREE.Color(color)} /&gt;
            &lt;/mesh&gt;
        &lt;/group&gt;
    );
}

// Bezstavový komponent ovládání kostky
const BoxControl = ({ instance, index, onChange, remove }) =&gt; {
    const { position, size, color } = instance;
    return (
		&lt;li&gt;
			&lt;div&gt;
				&lt;div className="grid"&gt;
					&lt;div&gt;
						&lt;label&gt;Objekt {index + 1}&lt;/label&gt;
						&lt;div&gt;
							&lt;input type="color" value={color} onChange={onChange((box, value) =&gt; box.color = value)} /&gt;
							&lt;span style={{ color: color }}&gt; { color } &lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div&gt;
						&lt;div className="grid"&gt;
							&lt;div&gt;
								&lt;label&gt;↔ W { Math.floor(size.x * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.x} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.x = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;↕ H { Math.floor(size.y * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.y} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.y = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;⤢ L { Math.floor(size.z * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.z} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.z = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;→ X { position.x }&lt;/label&gt;
								&lt;input type="range" value={position.x} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.x = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label"&gt;↑ Y { position.y }&lt;/label&gt;
								&lt;input type="range" value={position.y} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.y = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label"&gt;↗ Z { position.z }&lt;/label&gt;
								&lt;input type="range" value={position.z} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.z = value)} /&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div&gt;
						&lt;a onClick={() =&gt; remove()}&gt;Smazat&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/li&gt;
    );
}


// Hlavní komponent aplikace
class ExampleApp2 extends React.Component {

    // konstruktor komponentu
    constructor(props) {
        super(props);
        this.state = {
            boxes: []
        };
    }

    // metoda pro získání funkce pro změnu stavu kostky
    changeState(index) {
        var that = this;
        return (boxStateHandler) =&gt; {
            return (e) =&gt; {
                var value = e.target.value;
                return that.setState((state) =&gt; {
                    boxStateHandler(state.boxes[index], value);
                    return state;
                });
            }
        }
    }

    // metoda pro smazání kostky
    remove(index) {
        var that = this;
        return () =&gt; {
            return that.setState((state) =&gt; {
                state.boxes.splice(index, 1);
                return state;
            });
        }
    }

    // metoda pro přidání kostky
    add() {
        this.setState((state) =&gt; {
            state.boxes.push({
                position: { x: 0, y: 0, z: 0 },
                size: { x: 1, y: 1, z: 1 },
                color: "#ff9900" // nebo jiná náhodná barva
            });
            return state;
        });
    };

    // metoda volaná při připojení komponentu
	componentDidMount() {
		this.add();
	}

    // metoda pro vykreslení
    render() {
        return (
            &lt;div&gt;
                 &lt;div className="fixed-ratio"&gt;
                    &lt;Canvas camera={{ position: [0, 0, 5] }}&gt;
                        &lt;Controls /&gt;
                        &lt;pointLight position={[2, 2, 5]} /&gt;
                        &lt;group position={new THREE.Vector3((- this.state.boxes.length + 1), 0, 0)}&gt;
                            {this.state.boxes.map((box, index) =&gt; (
                                &lt;BoxThree instance={box} index={index} key={index} /&gt;
                            ))}
                        &lt;/group&gt;
                    &lt;/Canvas&gt;
                &lt;/div&gt;
                &lt;formgt;
                    &lt;ul&gt;
                        {this.state.boxes.map((box, index) =&gt; (
                            &lt;BoxControl instance={box} index={index} key={index} onChange={this.changeState(index)} remove={this.remove(index)} /&gt;
                        ))}
                    &lt;/ul&gt;
                    &lt;div onClick={(e) =&gt; this.add()}&gt;Přidat nový objekt&lt;/div&gt;
                &lt;/form&gt;
            &lt;/div&gt;
        );
    }
}

// vykreslení aplikace do HTML elementu
ReactDOM.render(&lt;ExampleApp2 /&gt;, document.getElementById('app2'));
</code></pre>
                    </li>
                    <li>
<pre><code class="shell">
npm install
npm install react
npm install react-dom
npm install react-scripts
npm install three
npm install react-three-fiber
npm run start
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app2"></div>
        </div>
        <!-- #endregion -->

    </div>

    <script src="./static/runtime1.js"></script>
    <script src="./static/build1.js"></script>
    <script src="./static/main1.js"></script>
    <script src="./static/runtime2.js"></script>
    <script src="./static/build2.js"></script>
    <script src="./static/main2.js"></script>
</body>
</html>