﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ Vue.js & Three.js & VueGL</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>

    <script src="../../../libs/threejs/three.js"></script>
    <script src="../../../libs/threejs/three.OrbitControl.js"></script>
    <script src="../../../libs/vue/vue.min.js"></script>
    <script src="../../../libs/vuegl/vuegl.js"></script>

    <script src="../../../js/common.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>Vue.js & Three.js & VueGL</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona 3D scény a ovládání <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
    &lt;!-- VueGL scéna --&gt;
    &lt;vgl-renderer antialias&gt;
	    &lt;vgl-scene background-color="#fff"&gt;
		    &lt;vgl-text-geometry 
			    name="textGeometry"
			    font="../../../libs/threejs/three.helvetiker.json"
			    size="2"
			    height="1"
			    :text="text"&gt;
		    &lt;/vgl-text-geometry&gt;
		    &lt;vgl-mesh-standard-material
			    name="material" 
			    :color="diffuseColor"&gt;
		    &lt;/vgl-mesh-standard-material&gt;
		    &lt;vgl-mesh 
			    geometry="textGeometry"
			    material="material"
			    position="0 0 0"&gt;
		    &lt;/vgl-mesh&gt;
		    &lt;vgl-ambient-light 
			    :color="ambientColor"
			    intensity="0.5"&gt;
		    &lt;/vgl-ambient-light&gt;
		    &lt;vgl-directional-light
			    color="#fff"
			    position="0 4 2"
			    intensity="2"&gt;
		    &lt;/vgl-directional-light&gt;
	    &lt;/vgl-scene&gt;
	    &lt;vgl-perspective-camera
		    orbit-position="16 1.4 0"
		    orbit-target="5 0 0"&gt;
	    &lt;/vgl-perspective-camera&gt;
    &lt;/vgl-renderer&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
	    &lt;div&gt;
		    &lt;label&gt;Text&lt;/label&gt;
            &lt;!-- Vstup pro text s obousměrným data-bindingem v-model --&gt;
		    &lt;input type="text" v-model="text" /&gt;
	    &lt;/div&gt;
	        &lt;div class="grid"&gt;
		    &lt;div&gt;
			    &lt;label&gt;Základní barva&lt;/label&gt;
			    &lt;div&gt;
				    &lt;input type="color" v-model="diffuseColor" /&gt;
				    &lt;span :style="'color: ' + diffuseColor"&gt; {{ diffuseColor }} &lt;/span&gt;
			    &lt;/div&gt;
		    &lt;/div&gt;
		    &lt;div&gt;
			    &lt;label&gt;Barva lesku&lt;/label&gt;
			    &lt;div&gt;
				    &lt;input type="color" v-model="ambientColor" /&gt;
				    &lt;span :style="'color: ' + ambientColor"&gt; {{ ambientColor }} &lt;/span&gt;
			    &lt;/div&gt;
		    &lt;/div&gt;
	    &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// Inicializace VueGL komponentů
Object.keys(VueGL).forEach((key) => {
    Vue.component(key, VueGL[key]);
});

// Orbitální kamera
function OrbitCamera(canvasId) {
    var canvas = document.getElementById(canvasId);
    var controls = new THREE.OrbitControls(canvas.__vue__.vglNamespace.cameras.active, canvas);
    function update() {
        requestAnimationFrame(update);
        controls.update();
        canvas.__vue__.vglNamespace.update();
    }
    update();
}
ready(function () {
    new OrbitCamera("canvas1");
});

// Vue aplikace
var app1 = new Vue({
    el: '#app1',
    data: {
        text: 'Hello world!',
        diffuseColor: '#dd3300',
        ambientColor: '#ee9966'
    }
});
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app1">
                <div class="fixed-ratio">
                    <vgl-renderer antialias id="canvas1">
                        <vgl-scene background-color="#222">
                            <vgl-text-geometry name="textGeometry"
                                               font="../../../libs/threejs/three.helvetiker.json"
                                               size="2"
                                               height="1"
                                               :text="text">
                            </vgl-text-geometry>
                            <vgl-mesh-standard-material name="material"
                                                        :color="diffuseColor">
                            </vgl-mesh-standard-material>
                            <vgl-mesh geometry="textGeometry"
                                      material="material"
                                      :position="-((text.length * 1.2) / 2) + ' 0 0'">
                            </vgl-mesh>
                            <vgl-ambient-light :color="ambientColor"
                                               intensity="0.5">
                            </vgl-ambient-light>
                            <vgl-directional-light color="#fff"
                                                   position="0 4 2"
                                                   intensity="2">
                            </vgl-directional-light>
                        </vgl-scene>
                        <vgl-perspective-camera name="active"
                                                orbit-position="16 1.57 0"
                                                orbit-target="5 0 0">
                        </vgl-perspective-camera>
                    </vgl-renderer>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label">Text</label>
                            <div class="uk-form-controls">
                                <input type="text" v-model="text" class="uk-input" />
                            </div>
                        </div>
                        <div class="uk-margin-small-top">
                            <div class="uk-child-width-1-2 uk-grid-small" uk-grid>
                                <div>
                                    <label class="uk-form-label">Základní barva</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="diffuseColor" />
                                        <span :style="'color: ' + diffuseColor"> {{ diffuseColor }} </span>
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Barva okolního světla</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="ambientColor" />
                                        <span :style="'color: ' + ambientColor"> {{ ambientColor }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona 3D scény a ovládání <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
    &lt;!-- VueGL scéna --&gt;
    &lt;vgl-renderer antialias&gt;
	    &lt;vgl-scene background-color="#222"&gt;
            &lt;!-- Cyklus s využitím directivy v-for pro vykreslení všech kostek --&gt;
		    &lt;vgl-group v-for="(item, index) in items"&gt;
			    &lt;vgl-box-geometry 
				    :name="'box' + index"
				    :width="item.size.x"
				    :height="item.size.y"
				    :depth="item.size.z"&gt;
			    &lt;/vgl-box-geometry&gt;
			    &lt;vgl-mesh-standard-material 
				    :name="'material' + index"
				    :color="item.color"&gt;
			    &lt;/vgl-mesh-standard-material&gt;
			    &lt;vgl-mesh 
				    :geometry="'box' + index"
				    :material="'material' + index"
				    :position="(((index - ((items.length - 1) / 2)) * 2) + (item.position.x * 1)) + ' ' + item.position.y + ' ' + item.position.z"&gt;
			    &lt;/vgl-mesh&gt;
		    &lt;/vgl-group&gt;
            &lt;vgl-ambient-light
			    color="#fff"
			    intensity="0.5"&gt;
		    &lt;/vgl-ambient-light&gt;
		    &lt;vgl-directional-light
			    color="#fff"
			    position="0 4 2"
			    intensity="2"&gt;
		    &lt;/vgl-directional-light&gt;
	    &lt;/vgl-scene&gt;
	    &lt;vgl-perspective-camera 
		    orbit-position="10 1.4 0"
		    orbit-target="0 0 0"&gt;
	    &lt;/vgl-perspective-camera&gt;
    &lt;/vgl-renderer&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;ul&gt;
            &lt;!-- Cyklus s využitím directivy v-for pro ovládací panely ke všem kostkám --&gt;
            &lt;li v-for="(item, index) in items"&gt;
                &lt;div class="grid"&gt;
                    &lt;div&gt;
                        &lt;label&gt;Objekt #{{index + 1}}&lt;/label&gt;
                        &lt;div&gt;
                            &lt;input type="color" v-model="item.color" /&gt;
                            &lt;span :style="'color: ' + item.color"&gt; {{ item.color }} &lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Šířka {{ Math.floor(item.size.x * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.x" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Výška {{ Math.floor(item.size.y * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.y" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Délka {{ Math.floor(item.size.z * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.z" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;X {{ item.position.x }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.x" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Y {{ item.position.y }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.y" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Z {{ item.position.z }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.z" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;!-- Tlačítko napojené na metodu pro smazání kostky --&gt;
                        &lt;a v-on:click="remove(index)"&gt;Smazat&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;!-- Tlačítko napojené na metodu pro přidání kostky --&gt;
        &lt;a v-on:click="add()" &gt; Přidat nový objekt&lt;/a&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// Inicializace VueGL komponentů
Object.keys(VueGL).forEach((key) => {
    Vue.component(key, VueGL[key]);
});

// Orbitální kamera
function OrbitCamera(canvasId) {
    var canvas = document.getElementById(canvasId);
    var controls = new THREE.OrbitControls(canvas.__vue__.vglNamespace.cameras.active, canvas);
    function update() {
        requestAnimationFrame(update);
        controls.update();
        canvas.__vue__.vglNamespace.update();
    }
    update();
}
ready(function () {
    new OrbitCamera("canvas2");
});

// Vue aplikace
var app2 = new Vue({
    el: '#app2',
    data: {
        items: [],
    },
    methods: {
        // metoda pro přidání kostky
        add: function () {
            this.items.push({
                size: { x: 1, y: 1, z: 1 },
                position: { x: 0, y: 0, z: 0 },
                color: getRandomColor()
            });
        },
        // metoda pro smazání kostky
        remove: function (index) {
            this.items.splice(index, 1);
        }
    },
    // metoda volaná při inicializaci
    created: function () {
        this.add();
        this.add();
    }
});
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app2">
                <div class="fixed-ratio">
                    <vgl-renderer antialias id="canvas2">
                        <vgl-scene background-color="#222">
                            <vgl-group v-for="(item, index) in items">
                                <vgl-box-geometry :name="'box' + index"
                                                  :width="item.size.x"
                                                  :height="item.size.y"
                                                  :depth="item.size.z">
                                </vgl-box-geometry>
                                <vgl-mesh-standard-material :name="'material' + index"
                                                            :color="item.color">
                                </vgl-mesh-standard-material>
                                <vgl-mesh :geometry="'box' + index"
                                          :material="'material' + index"
                                          :position="(((index - ((items.length - 1) / 2)) * 2) + (item.position.x * 1)) + ' ' + item.position.y + ' ' + item.position.z">
                                </vgl-mesh>
                            </vgl-group>
                            <vgl-ambient-light color="#fff"
                                               intensity="0.5">
                            </vgl-ambient-light>
                            <vgl-directional-light color="#fff"
                                                   position="0 4 2"
                                                   intensity="2">
                            </vgl-directional-light>
                        </vgl-scene>
                        <vgl-perspective-camera name="active"
                                                orbit-position="10 1.4 0"
                                                orbit-target="0 0 0">
                        </vgl-perspective-camera>
                    </vgl-renderer>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <ul class="uk-list">
                            <li v-for="(item, index) in items">
                                <div class="uk-margin-small-top uk-box-shadow-small uk-padding-small">
                                    <div class="uk-grid-small" uk-grid>
                                        <div class="uk-width-auto">
                                            <label class="uk-form-label">Objekt #{{index + 1}}</label>
                                            <div class="uk-form-controls">
                                                <input type="color" v-model="item.color" uk-tooltip="Barva" />
                                                <span :style="'color: ' + item.color"> {{ item.color }} </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-expand">
                                            <div class="uk-child-width-1-6 uk-grid-small uk-text-center" uk-grid>
                                                <div>
                                                    <label class="uk-form-label">↔ W {{ Math.floor(item.size.x * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.x" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↕ H {{ Math.floor(item.size.y * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.y" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">⤢ L {{ Math.floor(item.size.z * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.z" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">→ X {{ item.position.x }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.x" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↑ Y {{ item.position.y }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.y" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↗ Z {{ item.position.z }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.z" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto uk-text-right">
                                            <a class="uk-icon-link" uk-tooltip="Smazat" uk-icon="icon: close; ratio: 1.5" v-on:click="remove(index)"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a v-on:click="add()" class="uk-link-reset"><span uk-icon="plus"></span> Přidat nový objekt</a>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region App3 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #3 - Pokorčilejší scéna</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> 3D Scéna <span class="code-icon xml">VUEGL</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Ovládání <span class="code-icon html">HTML</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;vgl-renderer antialias id="canvas3"&gt;
	&lt;vgl-scene background-color="#222" name="leds"&gt;
		&lt;vgl-box-geometry name="plane" width="16" height="0.1" depth="6"&gt;&lt;/vgl-box-geometry&gt;
		&lt;vgl-mesh-standard-material name="planeMaterial" color="#0D660D"&gt;&lt;/vgl-mesh-standard-material&gt;
		&lt;vgl-mesh geometry="plane" material="planeMaterial" position="0 0 0"&gt;&lt;/vgl-mesh&gt;

		&lt;vgl-mesh-standard-material name="goldMaterial" color="#FF9900"&gt;&lt;/vgl-mesh-standard-material&gt;
		&lt;vgl-text-geometry name="textLed" font="../../../libs/threejs/three.helvetiker.json" size="0.75" height="0.1" text="LED diody (8 bitu)"&gt;&lt;/vgl-text-geometry&gt;
		&lt;vgl-mesh geometry="textLed" material="goldMaterial" position="-4.05 0 -1.6" rotation="-1.5707963268, 0, 0"&gt;&lt;/vgl-mesh&gt;

		&lt;vgl-mesh-standard-material name="ledMaterialOff" color="#CCCCCC"&gt;&lt;/vgl-mesh-standard-material&gt;
		&lt;vgl-mesh-standard-material name="ledMaterialOn" :color="color"&gt;&lt;/vgl-mesh-standard-material&gt;
		&lt;vgl-sphere-geometry name="sphere" radius="0.45" width-segments="16" height-segments="16"&gt;&lt;/vgl-sphere-geometry&gt;
		&lt;vgl-cylinder-geometry name="cylinder" radius-top="0.45" radius-bottom="0.45" height="1" radial-segments="16" height-segments="1" /&gt;
		&lt;vgl-cylinder-geometry name="bottom" radius-top="0.5" radius-bottom="0.5" height="0.16" radial-segments="16" height-segments="1" /&gt;

		&lt;vgl-mesh-standard-material name="buttonBottomMaterial" color="#1A1A1A"&gt;&lt;/vgl-mesh-standard-material&gt;
		&lt;vgl-box-geometry name="buttonBottom" width="1" height="0.4" depth="1"&gt;&lt;/vgl-box-geometry&gt;
		&lt;vgl-mesh-standard-material name="buttonMaterial" color="#8080CC"&gt;&lt;/vgl-mesh-standard-material&gt;

		&lt;vgl-group v-for="(led, index) in leds"&gt;
			&lt;vgl-group :position="((((leds.length - index) - (leds.length / 2)) * 2) - 1) + ' 0 0'"&gt;
				&lt;vgl-mesh geometry="sphere" :material="(led.state ? 'ledMaterialOn' : 'ledMaterialOff')" position="0 1 0"&gt;&lt;/vgl-mesh&gt;
				&lt;vgl-mesh geometry="cylinder" :material="(led.state ? 'ledMaterialOn' : 'ledMaterialOff')" position="0 0.5 0"&gt;&lt;/vgl-mesh&gt;
				&lt;vgl-mesh geometry="bottom" :material="(led.state ? 'ledMaterialOn' : 'ledMaterialOff')" position="0 0.08 0"&gt;&lt;/vgl-mesh&gt;
				&lt;vgl-text-geometry :name="'textLed' + index" font="../../../libs/threejs/three.helvetiker.json" size="0.5" height="0.1" :text="(Math.pow(2, index)).toString()"&gt;&lt;/vgl-text-geometry&gt;
				&lt;vgl-mesh :geometry="'textLed' + index" material="goldMaterial" position="0 0 1.2" rotation="-1.5707963268, 0, 0"&gt;&lt;/vgl-mesh&gt;
				&lt;vgl-group position="0 0.1 2"&gt;
					&lt;vgl-mesh geometry="buttonBottom" material="buttonBottomMaterial" position="0 0.08 0"&gt;&lt;/vgl-mesh&gt;
					&lt;vgl-cylinder-geometry :name="'buttonLed' + index" :height="(led.state ? 0.2 : 0.6)" radius-top="0.4" radius-bottom="0.4" radial-segments="16" height-segments="1" /&gt;
					&lt;vgl-clickable-mesh :onclick="(function () { lightSwitch(index); })" :geometry="'buttonCylinder' + index" material="buttonMaterial" position="0 0.35 0"&gt;&lt;/vgl-clickable-mesh&gt;
				&lt;/vgl-group&gt;
			&lt;/vgl-group&gt;
		&lt;/vgl-group&gt;

		&lt;vgl-ambient-light color="#fff" intensity="0.5"&gt;&lt;/vgl-ambient-light&gt;
		&lt;vgl-directional-light color="#fff" position="0 4 2" intensity="2"&gt;&lt;/vgl-directional-light&gt;
	&lt;/vgl-scene&gt;
	&lt;vgl-perspective-camera name="active" orbit-position="12 1.4 0" orbit-target="0 0 0"&gt;
	&lt;/vgl-perspective-camera&gt;
&lt;/vgl-renderer&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// VueGL komponent pro klikatelný objekt
VueGL.VglClickableMesh = {
    mixins: VueGL.VglMesh.mixins,
    props: ['onclick', "geometry", "material"],
    computed: {
        inst: () => new THREE.Mesh()
    },
    created: function () {
        this.inst.onclick = this.$props.onclick;
    },
    name: "VglClickableMesh"
};

// VueGL komponent pro průhledný materiál
VueGL.VglTransparentMaterial = {
    mixins: VueGL.VglMeshStandardMaterial.mixins,
    props: ['opacity', "color", "name"],
    computed: {
        inst: () => new THREE.MeshStandardMaterial()
    },
    watch: {
        inst: {
            handler: function (inst) { inst.color.setStyle(this.color); },
            immediate: true,
        },
        color: function (newColor) {
            this.inst.color.setStyle(newColor);
            this.update();
        }
    },
    created: function () {
        this.inst.depthWrite = false;
        this.inst.transparent  = true;
        this.inst.opacity = this.$props.opacity;
    },
    name: "VglTransparentMaterial"
};

// Inicializace VueGL komponent
Object.keys(VueGL).forEach((key) => {
    Vue.component(key, VueGL[key]);
});

// Orbitální kamera
function OrbitCamera(canvasId) {
    var canvas = document.getElementById(canvasId);
    var controls = new THREE.OrbitControls(canvas.__vue__.vglNamespace.cameras.active, canvas);
    function update() {
        requestAnimationFrame(update);
        controls.update();
        canvas.__vue__.vglNamespace.update();
    }
    update();
}

// Klikání na objekty pomocí parpsku
function RayCasterClicker(canvasId, scene) {
    var canvas = document.getElementById(canvasId);
    var raycaster = new THREE.Raycaster();
    var mouse = new THREE.Vector2();
    var rect = canvas.getBoundingClientRect();
    canvas.addEventListener("click", function (e) {
        mouse.x = ((event.clientX - rect.left) / rect.width) * 2 - 1;
        mouse.y = - ((event.clientY - rect.top) / rect.height) * 2 + 1;
        raycaster.setFromCamera(mouse, canvas.__vue__.vglNamespace.cameras.active);
        var intersects = raycaster.intersectObjects(canvas.__vue__.vglNamespace.scenes[scene].children, true);
        if (intersects.length > 0) {
            var i = 0, clicked = false;
            while (i < intersects.length || !clicked) {
                if (intersects[i].object.onclick) {
                    clicked = true;
                    intersects[i].object.onclick();
                }
                i++;
            }
        }
    });
}

ready(function () {
    new OrbitCamera("canvas3");
    new RayCasterClicker("canvas3", "leds");
});

// Vue aplikace
var app3 = new Vue({
    el: '#app3',
    data: {
        leds: [
            { state: false },
            { state: true },
            { state: false },
            { state: false },
            { state: true },
            { state: true },
            { state: false },
            { state: false },
        ],
        color: '#ff0000',
    },
    // dopočítáváné vlastnosti pro hexadecimální a binární zápis
    computed: {
        int: {
            get: function () {
                var r = 0;
                for (var i = 0; i < this.leds.length; i++) {
                    r += this.leds[i].state ? Math.pow(2, i) : 0;
                }
                return r;
            },
            set: function (v) {
                var bin = toBin(v);
                for (var i = 0; i < this.leds.length; i++) {
                    this.leds[this.leds.length - i - 1].state = bin[i] == "1";
                }
            }
        },
        hex: {
            get: function () { return toHex(this.int); },
            set: function (v) { this.int = parseInt(v, 16); }
        },
        bin: {
            get: function () { return toBin(this.int); },
            set: function (v) { this.int = parseInt(v, 2); }
        }
    },
    methods: {
        // metoda pro přepnutí LED diody
        lightSwitch: function (index) {
            this.leds[index].state = !this.leds[index].state;
        }
    }
});
</code></pre>
                    </li>
                    <li>
<pre><code class="xml">

</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app3">
                <div class="fixed-ratio">
                    <vgl-renderer antialias id="canvas3">
                        <vgl-scene background-color="#222" name="leds">
                            <vgl-group rotation="1.22173048 0 0">
                                <vgl-box-geometry name="plane" width="16" height="0.1" depth="6"></vgl-box-geometry>
                                <vgl-mesh-standard-material name="planeMaterial" color="#0D660D"></vgl-mesh-standard-material>
                                <vgl-mesh geometry="plane" material="planeMaterial" position="0 0 0"></vgl-mesh>

                                <vgl-mesh-standard-material name="goldMaterial" color="#FF9900"></vgl-mesh-standard-material>
                                <vgl-text-geometry name="textLed" font="../../../libs/threejs/three.helvetiker.json" size="0.75" height="0.1" text="LED diody (8 bitu)"></vgl-text-geometry>
                                <vgl-mesh geometry="textLed" material="goldMaterial" position="-4.05 0 -1.6" rotation="-1.5707963268, 0, 0"></vgl-mesh>

                                <vgl-transparent-material name="ledMaterialOff" color="#CCCCCC" opacity="0.8"></vgl-transparent-material>
                                <vgl-transparent-material name="ledMaterialOn" :color="color" opacity="0.8"></vgl-transparent-material>
                                <vgl-sphere-geometry name="sphere" radius="0.45" width-segments="16" height-segments="16"></vgl-sphere-geometry>
                                <vgl-cylinder-geometry name="cylinder" radius-top="0.45" radius-bottom="0.45" height="1" radial-segments="16" height-segments="1" />
                                <vgl-cylinder-geometry name="bottom" radius-top="0.5" radius-bottom="0.5" height="0.2" radial-segments="16" height-segments="1" />

                                <vgl-mesh-standard-material name="buttonBottomMaterial" color="#1A1A1A"></vgl-mesh-standard-material>
                                <vgl-box-geometry name="buttonBottom" width="1" height="0.4" depth="1"></vgl-box-geometry>
                                <vgl-mesh-standard-material name="buttonMaterial" color="#8080CC"></vgl-mesh-standard-material>

                                <vgl-group v-for="(led, index) in leds">
                                    <vgl-group :position="((((leds.length - index) - (leds.length / 2)) * 2) - 1) + ' 0 0'">
                                        <vgl-mesh geometry="sphere" :material="(led.state ? 'ledMaterialOn' : 'ledMaterialOff')" position="0 1 0"></vgl-mesh>
                                        <vgl-mesh geometry="cylinder" :material="(led.state ? 'ledMaterialOn' : 'ledMaterialOff')" position="0 0.5 0"></vgl-mesh>
                                        <vgl-mesh geometry="bottom" :material="(led.state ? 'ledMaterialOn' : 'ledMaterialOff')" position="0 0.08 0"></vgl-mesh>
                                        <vgl-spot-light :color="(led.state ? color : '#ffffff')" :intensity="(led.state ? 8 : 0)" position="0 0.4 0" target="0 8 0" decay="2" angle="1.2"></vgl-spot-light>
                                        <vgl-spot-light :color="(led.state ? color : '#ffffff')" :intensity="(led.state ? 4 : 0)" position="0 4 0" target="0 0.08 0" decay="2" angle="0.3"></vgl-spot-light>
                                        <vgl-text-geometry :name="'textLed' + index" font="../../../libs/threejs/three.helvetiker.json" size="0.5" height="0.1" :text="(Math.pow(2, index)).toString()"></vgl-text-geometry>
                                        <vgl-mesh :geometry="'textLed' + index" material="goldMaterial" position="0 0 1.2" rotation="-1.5707963268, 0, 0"></vgl-mesh>
                                        <vgl-group position="0 0.1 2">
                                            <vgl-mesh geometry="buttonBottom" material="buttonBottomMaterial" position="0 0.08 0"></vgl-mesh>
                                            <vgl-cylinder-geometry :name="'buttonCylinder' + index" :height="(led.state ? 0.2 : 0.6)" radius-top="0.4" radius-bottom="0.4" radial-segments="16" height-segments="1" />
                                            <vgl-clickable-mesh :onclick="(function () { lightSwitch(index); })" :geometry="'buttonCylinder' + index" material="buttonMaterial" position="0 0.35 0"></vgl-clickable-mesh>
                                        </vgl-group>
                                    </vgl-group>
                                </vgl-group>
                            </vgl-group>
                            <vgl-ambient-light color="#fff" intensity="0.5"></vgl-ambient-light>
                            <vgl-directional-light color="#fff" position="0 4 2" intensity="2"></vgl-directional-light>
                        </vgl-scene>
                        <vgl-perspective-camera name="active" orbit-position="12 1.4 0" orbit-target="0 0 0">
                        </vgl-perspective-camera>
                    </vgl-renderer>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label uk-width-1-1">
                                <span class="uk-float-left">0</span>
                                <span class="uk-float-right">255</span>
                            </label>
                            <div class="uk-form-controls">
                                <input type="range" v-model="int" min="0" max="255" step="1" class="uk-range" />
                            </div>
                        </div>
                        <div class="uk-margin-small-top">
                            <div class="uk-child-width-1-4 uk-grid-small" uk-grid>
                                <div>
                                    <label class="uk-form-label">Číslo</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="int" class="uk-input" maxlength="3" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Binární zápis</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="bin" class="uk-input" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Hexadecimální zápis</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="hex" class="uk-input" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Barva světla</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="color" uk-tooltip="Barva" />
                                        <span :style="'color: ' + color"> {{ color }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->

    </div>


    <script src="index.js"></script>
</body>
</html>