﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ Angular & A-Frame</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>

    <script src="../../../js/common.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />

    <script src="../../../libs/aframe/aframe.min.js"></script>
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>Angular & A-Frame</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona komponentu <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Třída komponentu <span class="code-icon ts">TS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Modul <span class="code-icon ts">TS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
 &lt;div class="fixed-ratio"&gt;
    &lt;!-- A-Frame scéna --&gt;
    &lt;a-scene embedded&gt;
        &lt;a-entity position="0 0 0" camera look-controls&gt;&lt;/a-entity&gt;
        &lt;!-- Entita pro 3D text s data-bindingem do atributů value a color --&gt;
        &lt;a-text [attr.value]="text"
                [attr.color]="diffuseColor"
                align="center"
                position="0 1.6 -0.5"&gt;
        &lt;/a-text&gt;
    &lt;/a-scene&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;div&gt;
            &lt;label&gt;Text&lt;/label&gt;
            &lt;div&gt;
                &lt;!-- Vstup pro text s obousměrným data-bindingem [(ngModel)] --&gt;
                &lt;input name="text" type="text" [(ngModel)]="text" /&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div&gt;
			&lt;label&gt;Základní barva&lt;/label&gt;
			&lt;div&gt;
				&lt;input name="diffuse" type="color" [(ngModel)]="diffuseColor" /&gt;
				&lt;span [ngStyle]="{'color': diffuseColor }"&gt; {{ diffuseColor }} &lt;/span&gt;
			&lt;/div&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { Component } from '@angular/core'; // import jádra Angularu

// decorator Angular komponentu
@Component({
  selector: 'app1',
  templateUrl: './app1.component.html' // URL šablony
})
// třída Angular komponentu
export class App1Component {
  text = 'Hello world';
  diffuseColor = '#dd3300';
  specularColor = '#ee9966';
}
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';

import { App1Component } from './app1.component';

@NgModule({
  imports:      [ BrowserModule, FormsModule ],
  declarations: [ App1Component ],
  bootstrap:    [ App1Component ],
  schemas:      [ CUSTOM_ELEMENTS_SCHEMA ]
})
export class AppModule { }
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <app1>Načítání...</app1>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona komponentu <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Třída komponentu <span class="code-icon ts">TS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Modul <span class="code-icon ts">TS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
  &lt;!-- A-Frame scéna --&gt;
  &lt;a-scene embedded&gt;
      &lt;a-entity position="0 -2 0" camera look-controls&gt;&lt;/a-entity&gt;
      &lt;!-- Cyklus s využitím directivy *ngFor pro vykreslení všech kostek --&gt;
      &lt;a-entity *ngFor="let item of items; index as index"&gt;
          &lt;!-- Relativní pozicování --&gt;
          &lt;a-entity [attr.position]="((index - ((items.length - 1) / 2)) * 2) + ' 0 -5'"&gt;
              &lt;!-- Vytvoření kostky s data-bindingem do jejích atributů --&gt;
              &lt;a-box [attr.color]="item.color"
                      [attr.width]="item.size.x"
                      [attr.height]="item.size.y"
                      [attr.depth]="item.size.z"
                      [attr.position]="item.position.x + ' ' + item.position.y + ' ' + item.position.z"&gt;
              &lt;/a-box&gt;
          &lt;/a-entity&gt;
      &lt;/a-entity&gt;
  &lt;/a-scene&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;ul&gt;
            &lt;!-- Cyklus s využitím directivy *ngFor pro ovládací panely ke všem kostkám --&gt;
            &lt;li *ngFor="let item of items; index as index"&gt;
                &lt;div&gt;
                    &lt;div class="grid"&gt;
                        &lt;div&gt;
                            &lt;label&gt;Objekt #{{index + 1}}&lt;/label&gt;
                            &lt;div&gt;
                                &lt;input type="color" [(ngModel)]="item.color" name="color {{ index }}" /&gt;
                                &lt;span [ngStyle]="{'color': item.color }"&gt; {{ item.color }} &lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;div class="grid"&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↔ W {{ item.size.x * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.x" min="0.1" max="2" step="0.1" name="w{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↕ H {{ item.size.y * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.y" min="0.1" max="2" step="0.1" name="h{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;⤢ L {{ item.size.z * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.z" min="0.1" max="2" step="0.1" name="l{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;→ X {{ item.position.x }}&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.position.x" min="-1" max="1" step="0.1" name="x{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↑ Y {{ item.position.y }}&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.position.y" min="-1" max="1" step="0.1" name="y{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↗ Z {{ item.position.z }}&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.position.z" min="-1" max="1" step="0.1" name="z{{ index }}" /&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;!-- Tlačítko napojené na metodu pro smazání kostky --&gt;
                            &lt;a (click)="remove(index)"&gt;Smazat&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;!-- Tlačítko napojené na metodu pro přidání kostky --&gt;
        &lt;a (click)="add()"&gt;Přidat nový objekt&lt;/a&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { Component } from '@angular/core'; // import jádra Angularu

// decorator Angular komponentu
@Component({
  selector: 'app2',
  templateUrl: './app2.component.html'
})
// třída Angular komponentu
export class App2Component {
  items = [];

  // metoda pro přidání kostky
  add() {
    this.items.push({
        size: { x: 1, y: 1, z: 1 },
        position: { x: 0, y: 0, z: 0 },
        color: "#ff9900" // nebo jiná náhodná barva
    });
  }

  // metoda pro smazání kostky
  remove(index) {
    this.items.splice(index, 1);
  }

  // metoda volaná při inicializaci
  ngOnInit() {
    this.add();
    this.add();
  }
}
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';

import { App2Component } from './app2.component';

@NgModule({
  imports:      [ BrowserModule, FormsModule ],
  declarations: [ App2Component ],
  bootstrap:    [ App2Component ],
  schemas:      [ CUSTOM_ELEMENTS_SCHEMA ]
})
export class AppModule { }
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <app2>Načítání...</app2>
        </div>
        <!-- #endregion -->

    </div>


    <script type="text/javascript" src="../runtime.js"></script>
    <script type="text/javascript" src="../polyfills.js"></script>
    <script type="text/javascript" src="../styles.js"></script>
    <script type="text/javascript" src="../vendor.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>