﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ Angular & X3Dom</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>

    <script src="../../../js/common.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />

    <script src="../../../libs/x3dom/x3dom.js"></script>
    <link rel="stylesheet" href="../../../libs/x3dom/x3dom.css" />
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>Angular & X3Dom</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona komponentu <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Třída komponentu <span class="code-icon ts">TS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Modul <span class="code-icon ts">TS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div&gt;
    &lt;!-- X3Dom scéna --&gt;
	&lt;x3d&gt;
		&lt;scene&gt;
			&lt;shape&gt;
				&lt;appearance&gt;
                    &lt;!-- Materiál s data-bindingem pro barvy --&gt;
					&lt;material [diffusecolor]="diffuseColor" [specularcolor]="specularColor"&gt;&lt;/material&gt;
				&lt;/appearance&gt;
                &lt;!-- Text mesh s data-bindingem do atributu string --&gt;
				&lt;text solid="false" [string]="text"&gt;
					&lt;fontstyle family="TYPEWRITER" justify="MIDDLE" quality="200" size="2"&gt;&lt;/fontstyle&gt;
				&lt;/text&gt;
			&lt;/shape&gt;
		&lt;/scene&gt;
	&lt;/x3d&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;div&gt;
            &lt;label&gt;Text&lt;/label&gt;
            &lt;div&gt;
              &lt;!-- Vstup pro text s obousměrným data-bindingem [(ngModel)] --&gt;
              &lt;input name="text" type="text" [(ngModel)]="text" /&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;div class="grid"&gt;
                &lt;div&gt;
                    &lt;label&gt;Základní barva&lt;/label&gt;
                    &lt;div&gt;
                        &lt;input name="diffuse" type="color" [(ngModel)]="diffuseColor" /&gt;
                        &lt;span [ngStyle]="{'color': diffuseColor }"&gt; {{ diffuseColor }} &lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label&gt;Barva lesku&lt;/label&gt;
                    &lt;div&gt;
                        &lt;input name="specular" type="color" [(ngModel)]="specularColor" /&gt;
                        &lt;span [ngStyle]="{'color': specularColor }"&gt; {{ specularColor }} &lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { Component } from '@angular/core'; // import jádra Angularu

@Component({ // decorator Angular komponentu
  selector: 'app1',
  templateUrl: './app1.component.html' // URL šablony
})
export class App1Component { // třída Angular komponentu
  text = 'Hello world';
  diffuseColor = '#dd3300';
  specularColor = '#ee9966';

  ngOnInit() { // přenačtení X3Dom při inicializaci komponentu
    if (window['x3dom']) { window['x3dom'].reload(); }
  }
}
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { NgModule, NO_ERRORS_SCHEMA } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';

import { App1Component } from './app1.component';

@NgModule({
  imports:      [ BrowserModule, FormsModule ],
  declarations: [ App1Component ],
  bootstrap:    [ App1Component ],
  schemas:      [ NO_ERRORS_SCHEMA ]
})
export class AppModule { }
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <app1>Načítání...</app1>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona komponentu <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Třída komponentu <span class="code-icon ts">TS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Modul <span class="code-icon ts">TS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div&gt;
    &lt;!-- X3Dom scéna --&gt;
    &lt;x3d&gt;
        &lt;scene&gt;
            &lt;!-- Cyklus s využitím directivy *ngFor pro vykreslení všech kostek --&gt;
            &lt;group *ngFor="let item of items; index as index"&gt;
                &lt;!-- Pozicování kostky --&gt;
                &lt;transform translation="{{ ((index - ((items.length - 1) / 2)) * 2) + ' 0 0' }}"&gt;
                    &lt;transform translation="{{ item.position.x + ' ' + item.position.y + ' ' + item.position.z }}"&gt;
                        &lt;!-- Vytvoření kostky s data-bindingem do jejího atributu size a atributu diffuseColor materiálu --&gt;
                        &lt;shape&gt;
                            &lt;appearance&gt;
                                &lt;material [diffuseColor]="item.color"&gt;&lt;/material&gt;
                            &lt;/appearance&gt;
                            &lt;box size="{{ item.size.x + ' ' + item.size.y + ' ' + item.size.z }}" useGeoCache="false"&gt;&lt;/box&gt;
                        &lt;/shape&gt;
                    &lt;/transform&gt;
                &lt;/transform&gt;
            &lt;/group&gt;
        &lt;/scene&gt;
    &lt;/x3d&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;ul&gt;
            &lt;!-- Cyklus s využitím directivy *ngFor pro ovládací panely ke všem kostkám --&gt;
            &lt;li *ngFor="let item of items; index as index"&gt;
                &lt;div&gt;
                    &lt;div class="grid"&gt;
                        &lt;div&gt;
                            &lt;label&gt;Objekt #{{index + 1}}&lt;/label&gt;
                            &lt;div&gt;
                                &lt;input type="color" [(ngModel)]="item.color" name="color {{ index }}" /&gt;
                                &lt;span [ngStyle]="{'color': item.color }"&gt; {{ item.color }} &lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;div class="grid"&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↔ W {{ item.size.x * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.x" min="0.1" max="2" step="0.1" name="w{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↕ H {{ item.size.y * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.y" min="0.1" max="2" step="0.1" name="h{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;⤢ L {{ item.size.z * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.z" min="0.1" max="2" step="0.1" name="l{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;→ X {{ item.position.x }}&lt;/label&gt;
                                     &lt;input type="range" [(ngModel)]="item.position.x" min="-1" max="1" step="0.1" name="x{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↑ Y {{ item.position.y }}&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.position.y" min="-1" max="1" step="0.1" name="y{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↗ Z {{ item.position.z }}&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.position.z" min="-1" max="1" step="0.1" name="z{{ index }}" /&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;!-- Tlačítko napojené na metodu pro smazání kostky --&gt;
                            &lt;a (click)="remove(index)"&gt;Smazat&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;!-- Tlačítko napojené na metodu pro přidání kostky --&gt;
        &lt;a (click)="add()"&gt;Přidat nový objekt&lt;/a&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { Component } from '@angular/core'; // import jádra Angularu

@Component({ // decorator Angular komponentu
  selector: 'app2',
  templateUrl: './app2.component.html'
})
export class App2Component { // třída Angular komponentu
  items = [];

  add() { // metoda pro přidání kostky
    this.items.push({
        size: { x: 1, y: 1, z: 1 },
        position: { x: 0, y: 0, z: 0 },
        color: "#ff9900" // nebo jiná náhodná barva
    });
  }

  remove(index) { // metoda pro smazání kostky
    this.items.splice(index, 1);
  }

  ngOnInit() { // metoda volaná při inicializaci
    this.add();
    this.add();
    if (window['x3dom']) { window['x3dom'].reload(); } // přenačtení X3Dom
  }
}
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { NgModule, NO_ERRORS_SCHEMA } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';

import { App2Component } from './app2.component';

@NgModule({
  imports:      [ BrowserModule, FormsModule ],
  declarations: [ App2Component ],
  bootstrap:    [ App2Component ],
  schemas:      [ NO_ERRORS_SCHEMA ]
})
export class AppModule { }
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <app2>Načítání...</app2>
        </div>
        <!-- #endregion -->

    </div>


    <script type="text/javascript" src="../runtime.js"></script>
    <script type="text/javascript" src="../polyfills.js"></script>
    <script type="text/javascript" src="../styles.js"></script>
    <script type="text/javascript" src="../vendor.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>