﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ React & Babylon.js & React BabylonJS</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>
    <script src="../../../libs/highlight/highlight-jsx.js"></script>

    <script src="../../../js/common.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>React & Babylon.js & React BabylonJS</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> React Aplikace <span class="code-icon html">JSX</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Instalace <span class="code-icon cmd">CMD</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="jsx">// Vyžaduje kompilaci pomocí: npm run build

// importy
import React from 'react';
import ReactDOM from 'react-dom';
import { Engine, Scene, ArcRotateCamera, HemisphericLight } from 'react-babylonjs';
import { Vector3, Color3, Color4 } from '@babylonjs/core';
import { Control } from '@babylonjs/gui';

// Hlavní komponent aplikace
class ExampleApp1 extends React.Component {

	// konstruktor komponentu
	constructor(props) {
		super(props);
		this.state = {
			text: 'Hello world!',
			diffuseColor: '#dd3300',
			outlineColor: '#ee9966'
		};
	}
	
	// metoda volaná po připojení scény
	onSceneMount(e) {
		const { scene } = e;
		scene.clearColor = new Color4(0.133, 0.133, 0.133, 1);
	}
	
	// metoda pro vykreslení scény
	renderScene() {
		return (
			&lt;div className="fixed-ratio"&gt;
				&lt;Engine antialias adaptToDeviceRatio&gt;
				  &lt;Scene onSceneMount={this.onSceneMount}&gt;
					&lt;ArcRotateCamera name="camera1" radius={7} beta={Math.PI / 2} alpha={-(Math.PI / 2)} target={Vector3.Zero()} minZ={0.001} wheelPrecision={30} /&gt;
					&lt;HemisphericLight name="light1" intensity={0.7} direction={Vector3.Up()} /&gt;
					&lt;plane name='plane1' width={20} height={20}&gt;
						&lt;advancedDynamicTexture name='texture1' height={2048} width={2048} createForParentMesh&gt;
							&lt;textBlock
								name='text1'
								text={this.state.text}
								color={this.state.diffuseColor}
								fontSize={200}
								outlineWidth={5}
								outlineColor={this.state.outlineColor}
							/&gt;
						&lt;/advancedDynamicTexture&gt;
					&lt;/plane&gt;
				  &lt;/Scene&gt;
				&lt;/Engine&gt;
			&lt;/div&gt;
		);
	}

    // metoda pro vykreslení ovládacích prvků
	renderControls() {
		return (
			&lt;form&gt;
				&lt;div&gt;
					&lt;label&gt;Text&lt;/label&gt;
					&lt;!-- data-binding textu do vstupu, listener pro změnu --&gt;
					&lt;input type="text"
                        value={this.state.text}
                        onChange={(e) =&gt; this.setState({ text: e.target.value })}
                    /&gt;
				&lt;/div&gt;
				&lt;div className="grid"&gt;
				    &lt;div&gt;
					    &lt;label&gt;Základní barva&lt;/label&gt;
					    &lt;div&gt;
						    &lt;input 
                                type="color"
                                value={this.state.diffuseColor}
                                onChange={(e) =&gt; this.setState({ diffuseColor: e.target.value })} 
                            /&gt;
						    &lt;span style={{ color: this.state.diffuseColor }}&gt;{this.state.diffuseColor}&lt;/span&gt;
					    &lt;/div&gt;
				    &lt;/div&gt;
				    &lt;div&gt;
					    &lt;label&gt;Barva okraje&lt;/label&gt;
					    &lt;div&gt;
						    &lt;input 
                                type="color"
                                value={this.state.outlineColor}
                                onChange={(e) =&gt; this.setState({ outlineColor: e.target.value })} 
                            /&gt;
						    &lt;span style={{ color: this.state.outlineColor }}&gt;{this.state.outlineColor}&lt;/span&gt;
					    &lt;/div&gt;
				    &lt;/div&gt;
				&lt;/div&gt;
			&lt;/form&gt;
		);
	}
	
    // hlavní vykreslovací metoda
	render() {
		return (
			&lt;div&gt;
				{this.renderScene()}
				{this.renderControls()}
			&lt;/div&gt;
		);
	}
}

// vykreslení aplikace do HTML elementu
ReactDOM.render(&lt;ExampleApp1 /&gt;, document.getElementById('app1'));
</code></pre>
                    </li>
                    <li>
<pre><code class="shell">
npm install
npm install react
npm install react-dom
npm install react-scripts
npm install react-reconciler
npm install @babylonjs/core
npm install @babylonjs/gui
npm install @babylonjs/loaders
npm install react-babylonjs
npm run start
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app1"></div>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> React Aplikace <span class="code-icon html">JSX</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Instalace <span class="code-icon cmd">CMD</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="jsx">// Vyžaduje kompilaci pomocí: npm run build

// importy
import React from 'react';
import ReactDOM from 'react-dom';
import { Engine, Scene, ArcRotateCamera, PointLight } from 'react-babylonjs';
import { Vector3, Color3, Color4 } from '@babylonjs/core';

// Bezstavový komponent koskty
const BoxBabylon = ({ instance, index, total }) =&gt; {
    const { position, size, color } = instance;
    return (
	  &lt;box name={ 'box' + index }
		size={1}
		position={new Vector3((position.x + (index * 2) + 1 - total), position.y, position.z)}
		scaling={new Vector3(size.x, size.y, size.z)}&gt;
		&lt;standardMaterial name={'mat' + index} diffuseColor={Color3.FromHexString(color)} /&gt;
	  &lt;/box&gt;
    );
}

// Bezstavový komponent ovládání kostky
const BoxControl = ({ instance, index, onChange, remove }) =&gt; {
    const { position, size, color } = instance;
    return (
		&lt;li&gt;
			&lt;div&gt;
				&lt;div className="grid"&gt;
					&lt;div&gt;
						&lt;label&gt;Objekt {index + 1}&lt;/label&gt;
						&lt;div&gt;
							&lt;input type="color" value={color} onChange={onChange((box, value) =&gt; box.color = value)} /&gt;
							&lt;span style={{ color: color }}&gt; { color } &lt;/span&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div&gt;
						&lt;div className="grid"&gt;
							&lt;div&gt;
								&lt;label&gt;↔ W { Math.floor(size.x * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.x} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.x = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;↕ H { Math.floor(size.y * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.y} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.y = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;⤢ L { Math.floor(size.z * 100) }%&lt;/label&gt;
								&lt;input type="range" value={size.z} min={0.1} max={2} step={0.1} onChange={onChange((box, value) =&gt; box.size.z = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label&gt;→ X { position.x }&lt;/label&gt;
								&lt;input type="range" value={position.x} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.x = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label"&gt;↑ Y { position.y }&lt;/label&gt;
								&lt;input type="range" value={position.y} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.y = value)} /&gt;
							&lt;/div&gt;
							&lt;div&gt;
								&lt;label"&gt;↗ Z { position.z }&lt;/label&gt;
								&lt;input type="range" value={position.z} min={-1} max={1} step={0.1} onChange={onChange((box, value) =&gt; box.position.z = value)} /&gt;
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div&gt;
						&lt;a onClick={() =&gt; remove()}&gt;Smazat&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/li&gt;
    );
}

// Hlavní komponent aplikace
class ExampleApp2 extends React.Component {

    // konstruktor komponentu
    constructor(props) {
        super(props);
        this.state = {
            boxes: []
        };
    }

    // metoda pro získání funkce pro změnu stavu kostky
    changeState(index) {
        var that = this;
        return (boxStateHandler) =&gt; {
            return (e) =&gt; {
                var value = e.target.value;
                return that.setState((state) =&gt; {
                    boxStateHandler(state.boxes[index], value);
                    return state;
                });
            }
        }
    }

    // metoda pro smazání kostky
    remove(index) {
        var that = this;
        return () =&gt; {
            return that.setState((state) =&gt; {
                state.boxes.splice(index, 1);
                return state;
            });
        }
    }

    // metoda pro přidání kostky
    add() {
        this.setState((state) =&gt; {
            state.boxes.push({
                position: { x: 0, y: 0, z: 0 },
                size: { x: 1, y: 1, z: 1 },
                color: "#ff9900" // nebo jiná náhodná barva
            });
            return state;
        });
    };

    // metoda volaná při připojení komponentu
	componentDidMount() {
		this.add();
	}

    // metoda volaná při připojení scény
	onSceneMount(e) {
		const { scene } = e;
        scene.clearColor = new Color4(0.133, 0.133, 0.133, 1);
	}

    // metoda pro vykreslení
    render() {
        return (
            &lt;div&gt;
                &lt;div className="fixed-ratio"&gt;
					&lt;Engine antialias adaptToDeviceRatio&gt;
					  &lt;Scene onSceneMount={this.onSceneMount}&gt;
						&lt;ArcRotateCamera name="camera1" radius={7} beta={Math.PI / 2} alpha={-(Math.PI / 2)} target={Vector3.Zero()} minZ={0.001} wheelPrecision={30} /&gt;
                        &lt;PointLight name="light1" position={new Vector3(2,2,-5)} intensity={0.7} /&gt;
						{this.state.boxes.map((box, index) =&gt; (
							&lt;BoxBabylon instance={box} index={index} total={this.state.boxes.length} key={index} /&gt;
						))}
					  &lt;/Scene&gt;
					&lt;/Engine&gt;
                &lt;/div&gt;
                &lt;formgt;
                    &lt;ul&gt;
                        {this.state.boxes.map((box, index) =&gt; (
                            &lt;BoxControl instance={box} index={index} key={index} onChange={this.changeState(index)} remove={this.remove(index)} /&gt;
                        ))}
                    &lt;/ul&gt;
                    &lt;div onClick={(e) =&gt; this.add()}&gt;Přidat nový objekt&lt;/div&gt;
                &lt;/form&gt;
            &lt;/div&gt;
        );
    }
}

// vykreslení aplikace do HTML elementu
ReactDOM.render(&lt;ExampleApp2 /&gt;, document.getElementById('app2'));
</code></pre>
                    </li>
                    <li>
<pre><code class="shell">
npm install
npm install react
npm install react-dom
npm install react-scripts
npm install react-reconciler
npm install @babylonjs/core
npm install @babylonjs/gui
npm install @babylonjs/loaders
npm install react-babylonjs
npm run start
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app2"></div>
        </div>
        <!-- #endregion -->

    </div>

    <script src="./static/runtime1.js"></script>
    <script src="./static/build1.js"></script>
    <script src="./static/main1.js"></script>
    <script src="./static/runtime2.js"></script>
    <script src="./static/build2.js"></script>
    <script src="./static/main2.js"></script>
</body>
</html>