﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ Vue.js & Babylon.js & Vue-BabylonJS</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>

    <script src="../../../libs/vue/vue.min.js"></script>
    <script src="../../../libs/vue-babylonjs/vue-babylonjs.js"></script>

    <script src="../../../js/common.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>Vue.js & Babylon.js & Vue-BabylonJS</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona 3D scény a ovládání <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
    &lt;!-- Vue-BabylonJS scéna --&gt;
    &lt;Scene main="#ffffff"&gt;
	    &lt;text-plane :text="text" :color="diffuseColor"&gt;&lt;/text-plane&gt;
    &lt;/Scene&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
	    &lt;div&gt;
		    &lt;label&gt;Text&lt;/label&gt;
            &lt;!-- Vstup pro text s obousměrným data-bindingem v-model --&gt;
		    &lt;input type="text" v-model="text" /&gt;
	    &lt;/div&gt;
	        &lt;div class="grid"&gt;
		    &lt;div&gt;
			    &lt;label&gt;Základní barva&lt;/label&gt;
			    &lt;div&gt;
				    &lt;input type="color" v-model="diffuseColor" /&gt;
				    &lt;span :style="'color: ' + diffuseColor"&gt; {{ diffuseColor }} &lt;/span&gt;
			    &lt;/div&gt;
		    &lt;/div&gt;
	    &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// Inicializace VueBabylonjs
Vue.use(window.VueBabylonjs);

// Vue komponent pro text ve 3D
Vue.component('text-plane', Vue.extend({
    props: ['text', 'color'],
    data: function () {
        return {
            text: this.text,
            color: this.color
        }
    },
    methods: {
        initPlane: function (event) {
            var BABYLON = window.VueBabylonjs.BABYLON;
            var scene = event.scene;
            var entity = event.entity;
            entity.material = new BABYLON.StandardMaterial("material", scene);
            entity.material.backFaceCulling = false;
            entity.material.emissiveColor = new BABYLON.Color3(1, 1, 1);
            this.update = function () {
                var dynamicTexture = new BABYLON.DynamicTexture("dyn", { width: 512, height: 512 }, scene);
                dynamicTexture.drawText(this.text, (256 - ((this.text.length * 40) / 2)), 256, "bold 70px monospace", this.color || "#000000", null, true, true);
                dynamicTexture.hasAlpha = true;
                entity.material.diffuseTexture = dynamicTexture;
            }
            this.update();
        },
    },
    watch: {
        text: function () { if (this.update) { this.update(); } },
        color: function () { if (this.update) { this.update(); } }
    },
    template: '&lt;Plane @entity="initPlane"&gt;&lt;/Plane&gt;'
}));

// Vue aplikace
var app1 = new Vue({
    el: '#app1',
    data: {
        text: 'Hello world!',
        diffuseColor: '#dd3300'
    }
});
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app1">
                <div class="fixed-ratio">
                    <Scene main="#ffffff">
                        <text-plane :text="text" :color="diffuseColor"></text-plane>
                    </Scene>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label">Text</label>
                            <div class="uk-form-controls">
                                <input type="text" v-model="text" class="uk-input" />
                            </div>
                        </div>
                        <div class="uk-margin-small-top">
                            <div class="uk-child-width-1-2 uk-grid-small" uk-grid>
                                <div>
                                    <label class="uk-form-label">Základní barva</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="diffuseColor" />
                                        <span :style="'color: ' + diffuseColor"> {{ diffuseColor }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona 3D scény a ovládání <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
    &lt;!-- X3Dom scéna --&gt;
    &lt;Scene main="#ffffff"&gt;
        &lt;!-- Cyklus s využitím directivy v-for pro vykreslení všech kostek --&gt;
	    &lt;Template v-for="(item, index) in items"&gt;
		    &lt;Entity :position="[((index - ((items.length - 1) / 2)) * 2), 0, 0]"&gt;
			    &lt;Box :scaling="[item.size.x, item.size.y, item.size.z]"
				     :position="[item.position.x, item.position.y, item.position.z]"&gt;
				    &lt;Material :diffuse="VueBabylonjs.BABYLON.Color3.FromHexString(item.color)"&gt;
                    &lt;/Material&gt;
			    &lt;/Box&gt;
		    &lt;/Entity&gt;
	    &lt;/Template&gt;
    &lt;/Scene&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;ul&gt;
            &lt;!-- Cyklus s využitím directivy v-for pro ovládací panely ke všem kostkám --&gt;
            &lt;li v-for="(item, index) in items"&gt;
                &lt;div class="grid"&gt;
                    &lt;div&gt;
                        &lt;label&gt;Objekt #{{index + 1}}&lt;/label&gt;
                        &lt;div&gt;
                            &lt;input type="color" v-model="item.color" /&gt;
                            &lt;span :style="'color: ' + item.color"&gt; {{ item.color }} &lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Šířka {{ Math.floor(item.size.x * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.x" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Výška {{ Math.floor(item.size.y * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.y" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Délka {{ Math.floor(item.size.z * 100) }}%&lt;/label&gt;
                        &lt;input type="range" v-model="item.size.z" min="0.1" max="2" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;X {{ item.position.x }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.x" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Y {{ item.position.y }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.y" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;label&gt;Z {{ item.position.z }}&lt;/label&gt;
                        &lt;input type="range" v-model="item.position.z" min="-1" max="1" step="0.1" /&gt;
                    &lt;/div&gt;
                    &lt;div&gt;
                        &lt;!-- Tlačítko napojené na metodu pro smazání kostky --&gt;
                        &lt;a v-on:click="remove(index)"&gt;Smazat&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;!-- Tlačítko napojené na metodu pro přidání kostky --&gt;
        &lt;a v-on:click="add()" &gt; Přidat nový objekt&lt;/a&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// Inicializace VueBabylonjs
Vue.use(window.VueBabylonjs);

// Vue aplikace
var app2 = new Vue({
    el: '#app2',
    data: {
        items: [],
    },
    methods: {
        // metoda pro přidání kostky
        add: function () {
            this.items.push({
                size: { x: 1, y: 1, z: 1 },
                position: { x: 0, y: 0, z: 0 },
                color: getRandomColor()
            });
        },
        // metoda pro smazání kostky
        remove: function (index) {
            this.items.splice(index, 1);
        }
    },
    // metoda volaná při inicializaci
    created: function () {
        this.add();
        this.add();
    }
});
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app2">
                <div class="fixed-ratio">
                    <Scene main="#ffffff">
                        <Template v-for="(item, index) in items">
                            <Entity :position="[((index - ((items.length - 1) / 2)) * 2), 0, 0]">
                                <Box :scaling="[item.size.x, item.size.y, item.size.z]"
                                     :position="[item.position.x, item.position.y, item.position.z]">
                                    <Material :diffuse="VueBabylonjs.BABYLON.Color3.FromHexString(item.color)"></Material>
                                </Box>
                            </Entity>
                        </Template>
                    </Scene>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <ul class="uk-list">
                            <li v-for="(item, index) in items">
                                <div class="uk-margin-small-top uk-box-shadow-small uk-padding-small">
                                    <div class="uk-grid-small" uk-grid>
                                        <div class="uk-width-auto">
                                            <label class="uk-form-label">Objekt #{{index + 1}}</label>
                                            <div class="uk-form-controls">
                                                <input type="color" v-model="item.color" uk-tooltip="Barva" />
                                                <span :style="'color: ' + item.color"> {{ item.color }} </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-expand">
                                            <div class="uk-child-width-1-6 uk-grid-small uk-text-center" uk-grid>
                                                <div>
                                                    <label class="uk-form-label">↔ W {{ Math.floor(item.size.x * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.x" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↕ H {{ Math.floor(item.size.y * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.y" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">⤢ L {{ Math.floor(item.size.z * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.z" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">→ X {{ item.position.x }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.x" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↑ Y {{ item.position.y }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.y" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↗ Z {{ item.position.z }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.z" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto uk-text-right">
                                            <a class="uk-icon-link" uk-tooltip="Smazat" uk-icon="icon: close; ratio: 1.5" v-on:click="remove(index)"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a v-on:click="add()" class="uk-link-reset"><span uk-icon="plus"></span> Přidat nový objekt</a>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region App3 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #3 - Pokročilejší scéna</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> 3D Scéna <span class="code-icon xml">VUE-BABYLONJS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Ovládání <span class="code-icon html">HTML</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="xml">
&lt;Scene main="#ffffff"&gt;
	&lt;Entity :rotation="[-1.0471975511965976, 0, 0]"&gt;
		&lt;Box :scaling="[16, 0.1, 6]"&gt;
			&lt;Material diffuse="#0D660D"&gt;&lt;/Material&gt;
		&lt;/Box&gt;
		&lt;Entity :rotation="[1.5707963268, 0, 0]" :scaling="[8, 8, 8]" :position="[0, 0.06, 1.6]"&gt;
			&lt;text-plane text="LED diody" color="#ff9900"&gt;&lt;/text-plane&gt;
		&lt;/Entity&gt;
		&lt;Template v-for="(led, index) in leds"&gt;
			&lt;Entity :position="[((((leds.length - index) - (leds.length / 2)) * 2) - 1), 0, 0]"&gt;
				&lt;Entity :rotation="[1.5707963268, 0, 0]" :scaling="[5, 5, 5]" :position="[0, 0.06, -1]"&gt;
					&lt;text-plane :text="(Math.pow(2, index)).toString()" color="#ff9900"&gt;&lt;/text-plane&gt;
				&lt;/Entity&gt;
				&lt;Entity :position="[0, 0.15, 0.2]"&gt;
					&lt;Sphere :scaling="[0.8, 0.8, 0.8]" :position="[0, 0.95, 0]"&gt;
						&lt;Material :diffuse="(led.state ? color : '#CCCCCC')" alpha="0.8"&gt;&lt;/Material&gt;
					&lt;/Sphere&gt;
					&lt;Cylinder :position="[0, 0.55, 0]"
							  :scaling="[0.8, 0.4, 0.8]"&gt;
						&lt;Material :diffuse="(led.state ? color : '#CCCCCC')" alpha="0.8"&gt;&lt;/Material&gt;
					&lt;/Cylinder&gt;
					&lt;Cylinder :scaling="[0.9, 0.15, 0.9]"&gt;
						&lt;Material :diffuse="(led.state ? color : '#CCCCCC')" alpha="0.8"&gt;&lt;/Material&gt;
					&lt;/Cylinder&gt;
				&lt;/Entity&gt;
				&lt;Entity :position="[0, 0.25, -2]"&gt;
					&lt;Cylinder :position="[0, 0.35, 0]"
							  :scaling="[0.8, (led.state ? 0.2 : 0.6), 0.8]"
							  @entity="initButton($event, index)"&gt;
						&lt;Material diffuse="#8080CC"&gt;&lt;/Material&gt;
					&lt;/Cylinder&gt;
					&lt;Box :scaling="[1, 0.5, 1]"&gt;
						&lt;Material diffuse="#1A1A1A"&gt;&lt;/Material&gt;
					&lt;/Box&gt;
				&lt;/Entity&gt;
			&lt;/Entity&gt;
		&lt;/Template&gt;
	&lt;/Entity&gt;
&lt;/Scene&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">// Inicializace VueBabylonJS
Vue.use(window.VueBabylonjs);

// Vue komponent pro text ve 3D
Vue.component('text-plane', Vue.extend({
    props: ['text', 'color'],
    data: function () {
        return {
            text: this.text,
            color: this.color
        }
    },
    methods: {
        initPlane: function (event) {
            var BABYLON = window.VueBabylonjs.BABYLON;
            var scene = event.scene;
            var entity = event.entity;
            entity.material = new BABYLON.StandardMaterial("material", scene);
            entity.material.backFaceCulling = false;
            entity.material.emissiveColor = new BABYLON.Color3(1, 1, 1);
            this.update = function () {
                var dynamicTexture = new BABYLON.DynamicTexture("dyn", { width: 512, height: 512 }, scene);
                dynamicTexture.drawText(this.text, (256 - ((this.text.length * 40) / 2)), 256, "bold 70px monospace", this.color || "#000000", null, true, true);
                dynamicTexture.hasAlpha = true;
                entity.material.diffuseTexture = dynamicTexture;
            }
            this.update();
        },
    },
    watch: {
        text: function () { if (this.update) { this.update(); } },
        color: function () { if (this.update) { this.update(); } }
    },
    template: '&lt;Plane @entity="initPlane"&gt;&lt;/Plane&gt;'
}));

// Vue aplikace
var app3 = new Vue({
    el: '#app3',
    data: {
        leds: [
            { state: false },
            { state: true },
            { state: false },
            { state: false },
            { state: true },
            { state: true },
            { state: false },
            { state: false },
        ],
        color: '#ff0000',
    },
    // dopočítáváné vlastnosti pro hexadecimální a binární zápis
    computed: {
        int: {
            get: function () {
                var r = 0;
                for (var i = 0; i < this.leds.length; i++) {
                    r += this.leds[i].state ? Math.pow(2, i) : 0;
                }
                return r;
            },
            set: function (v) {
                var bin = toBin(v);
                for (var i = 0; i < this.leds.length; i++) {
                    this.leds[this.leds.length - i - 1].state = bin[i] == "1";
                }
            }
        },
        hex: {
            get: function () { return toHex(this.int); },
            set: function (v) { this.int = parseInt(v, 16); }
        },
        bin: {
            get: function () { return toBin(this.int); },
            set: function (v) { this.int = parseInt(v, 2); }
        }
    },
    methods: {
        // metoda pro inicializaci tlačítka
        initButton: function (event, index) {
            event.scene.cameras[0].radius = 15;
            var that = this;
            var BABYLON = window.VueBabylonjs.BABYLON;
            var entity = event.entity;
            entity.actionManager = new BABYLON.ActionManager(event.scene);
            entity.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnPickTrigger, function () { that.lightSwitch(index); }));
        },
        // metoda pro přepnutí LED diody
        lightSwitch: function (index) {
            this.leds[index].state = !this.leds[index].state;
        }
    }
});
</code></pre>
                    </li>
                    <li>
<pre><code class="xml">
&lt;form&gt;
	&lt;div&gt;
		&lt;label&gt;
			&lt;span class="left"&gt;0&lt;/span&gt;
			&lt;span class="right"&gt;255&lt;/span&gt;
		&lt;/label&gt;
		&lt;div&gt;
			&lt;input type="range" v-model="int" min="0" max="255" step="1" /&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div&gt;
		&lt;div class="grid"&gt;
			&lt;div&gt;
				&lt;label&gt;Číslo&lt;/label&gt;
				&lt;input type="text" v-model="int" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Binární zápis&lt;/label&gt;
				&lt;input type="text" v-model="bin" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Hexadecimální zápis&lt;/label&gt;
				&lt;input type="text" v-model="hex" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Barva světla&lt;/label&gt;
				&lt;input type="color" v-model="color" /&gt;
				&lt;span :style="'color: ' + color"&gt; {{ color }} &lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/form&gt;
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div id="app3">
                <div class="fixed-ratio">
                    <Scene main="#ffffff">
                        <Entity :rotation="[-1.0471975511965976, 0, 0]">
                            <Box :scaling="[16, 0.1, 6]">
                                <Material diffuse="#0D660D"></Material>
                            </Box>
                            <Entity :rotation="[1.5707963268, 0, 0]" :scaling="[8, 8, 8]" :position="[0, 0.06, 1.6]">
                                <text-plane text="LED diody" color="#ff9900"></text-plane>
                            </Entity>
                            <Template v-for="(led, index) in leds">
                                <Entity :position="[((((leds.length - index) - (leds.length / 2)) * 2) - 1), 0, 0]">
                                    <Entity :rotation="[1.5707963268, 0, 0]" :scaling="[5, 5, 5]" :position="[0, 0.06, -1]">
                                        <text-plane :text="(Math.pow(2, index)).toString()" color="#ff9900"></text-plane>
                                    </Entity>
                                    <Entity :position="[0, 0.15, 0.2]">
                                        <Sphere :scaling="[0.8, 0.8, 0.8]" :position="[0, 0.95, 0]">
                                            <Material :diffuse="(led.state ? color : '#CCCCCC')" alpha="0.8"></Material>
                                        </Sphere>
                                        <Cylinder :position="[0, 0.55, 0]"
                                                  :scaling="[0.8, 0.4, 0.8]">
                                            <Material :diffuse="(led.state ? color : '#CCCCCC')" alpha="0.8"></Material>
                                        </Cylinder>
                                        <Cylinder :scaling="[0.9, 0.15, 0.9]">
                                            <Material :diffuse="(led.state ? color : '#CCCCCC')" alpha="0.8"></Material>
                                        </Cylinder>
                                    </Entity>
                                    <Entity :position="[0, 0.25, -2]">
                                        <Cylinder :position="[0, 0.35, 0]"
                                                  :scaling="[0.8, (led.state ? 0.2 : 0.6), 0.8]"
                                                  @entity="initButton($event, index)">
                                            <Material diffuse="#8080CC"></Material>
                                        </Cylinder>
                                        <Box :scaling="[1, 0.5, 1]">
                                            <Material diffuse="#1A1A1A"></Material>
                                        </Box>
                                    </Entity>
                                </Entity>
                            </Template>
                        </Entity>
                    </Scene>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label uk-width-1-1">
                                <span class="uk-float-left">0</span>
                                <span class="uk-float-right">255</span>
                            </label>
                            <div class="uk-form-controls">
                                <input type="range" v-model="int" min="0" max="255" step="1" class="uk-range" />
                            </div>
                        </div>
                        <div class="uk-margin-small-top">
                            <div class="uk-child-width-1-4 uk-grid-small" uk-grid>
                                <div>
                                    <label class="uk-form-label">Číslo</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="int" class="uk-input" maxlength="3" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Binární zápis</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="bin" class="uk-input" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Hexadecimální zápis</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="hex" class="uk-input" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Barva světla</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="color" uk-tooltip="Barva" />
                                        <span :style="'color: ' + color"> {{ color }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->

    </div>


    <script src="index.js"></script>
</body>
</html>