﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ Angular & Babylon.js</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>

    <script src="../../../libs/babylonjs/babylon.js"></script>
    <script src="../../../libs/babylonjs/babylon.gui.min.js"></script>

    <script src="../../../js/common.js"></script>
    <script src="../../../js/common.babylon.js"></script>
    <script src="../../../js/mw.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>Angular & Babylon.js</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Třída komponentu <span class="code-icon ts">TS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona komponentu <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Modul <span class="code-icon ts">TS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="javascript">
// import jádra Angularu
import { Component } from '@angular/core';

// konstanty pro moduly načítané pomocí tagu script
declare const MW: any;
declare const BABYLON: any;
declare const setupScene: any;
declare const MAP: any;

// decorator Angular komponentu
@Component({
  selector: 'app1',
  templateUrl: './app1.component.html' // URL šablony
})
// třída Angular komponentu
export class App1Component {
  data = {};

  // metoda pro inicializaci komponentu
  ngOnInit() {
    var scene = setupScene("canvas1"); // vytvoření scény
    var data = {};

    // rovina pro text jako dynmaickou texturu
    var textPlane = new BABYLON.Mesh.CreatePlane("planeForText", 20, scene);
    var advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateForMesh(textPlane, 2048, 2048);

    // text blok
    var text = new BABYLON.GUI.TextBlock();
    text.fontSize = 200;
    text.outlineWidth = 5;

    // obousměrné mapování mezi 3D objektem a datovým objektem 
    new MW.TwoWayMap({
        end1: data,
        map1: MAP.TEXT.to3DModel,
        end2: text,
        map2: MAP.TEXT.toDataModel,
        data1: {
            text: 'Hello world!',
            diffuseColor: '#dd3300',
            outlineColor: '#ee9966',
        }
    });

    advancedTexture.addControl(text);
    this.data = data;
  }
}
</code></pre>
                    </li>
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
    &lt;!-- Plátno pro scénu --&gt;
    &lt;canvas id="canvas1" "&gt;&lt;/canvas&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;div&gt;
            &lt;label&gt;Text&lt;/label&gt;
            &lt;div&gt;
              &lt;!-- Vstup pro text s obousměrným data-bindingem [(ngModel)] --&gt;
              &lt;input name="text" type="text" [(ngModel)]="text" /&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;div class="grid"&gt;
                &lt;div&gt;
                    &lt;label&gt;Základní barva&lt;/label&gt;
                    &lt;div&gt;
                        &lt;input name="diffuse" type="color" [(ngModel)]="diffuseColor" /&gt;
                        &lt;span [ngStyle]="{'color': diffuseColor }"&gt; {{ diffuseColor }} &lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label&gt;Barva lesku&lt;/label&gt;
                    &lt;div&gt;
                        &lt;input name="specular" type="color" [(ngModel)]="specularColor" /&gt;
                        &lt;span [ngStyle]="{'color': specularColor }"&gt; {{ specularColor }} &lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { NgModule, NO_ERRORS_SCHEMA } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';

import { App1Component } from './app1.component';

@NgModule({
  imports:      [ BrowserModule, FormsModule ],
  declarations: [ App1Component ],
  bootstrap:    [ App1Component ],
  schemas:      [ NO_ERRORS_SCHEMA ]
})
export class AppModule { }
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <app1>Načítání...</app1>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> Třída komponentu <span class="code-icon ts">TS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Šablona komponentu <span class="code-icon html">HTML</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Modul <span class="code-icon ts">TS</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="javascript">
// import jádra Angularu
import { Component } from '@angular/core';
    
// konstanty pro moduly načítané pomocí tagu script
declare const MW: any;
declare const BABYLON: any;
declare const setupScene: any;
declare const MAP: any;

// decorator Angular komponentu
@Component({ 
  selector: 'app2',
  templateUrl: './app2.component.html'
})
// třída Angular komponentu
export class App2Component {
  items = [];
  scene;
  group;

  // vytvoření scény při inicializaci komponentu
  ngOnInit() { 
    this.scene = setupScene("canvas2");
    this.group = new BABYLON.AbstractMesh("group", this.scene);
    this.add();
    this.add();
  }

  // metoda pro vytvoření kostky
  createCube(index) {
    var data = {};

    // mesh kostky
    var material = new BABYLON.StandardMaterial("material" + index, this.scene);
    var cube = new BABYLON.Mesh.CreateBox("box" + index, 1, this.scene);
    cube.material = material;
    this.group.addChild(cube);

    // obousměrné mapování mezi 3D objektem a datovým objektem 
    new MW.TwoWayMap({
        end1: data,
        map1: MAP.CUBE.to3DModel,
        end2: cube,
        map2: MAP.CUBE.toDataModel,
        data1: {
            color: "#ff9900", // nebo jiná náhodná barva
            element: cube,
            index: index,
            size: { x: 1, y: 1, z: 1 },
            position: { x: 0, y: 0, z: 0 },
        }
    });
    
    // relativní pozice kostky
    this.group.position.x = - index;
    cube.position.x = index * 2;
    return data;
  }

  // metoda pro přidání kostky
  add() {
    this.items.push(this.createCube(this.items.length));
  }

  // metoda pro smazání kostky
  remove(index) {
    var mesh = this.items[index].element;
    this.group.removeChild(mesh);
    this.scene.removeMesh(mesh);
    this.items.splice(index, 1);
    // přepočet pozice a indexu u dalších kostek
    for (var i = index; i < this.items.length; i++) {
        var oldX = this.items[i].position.x;
        this.items[i].index = i;
        this.items[i].element.position.x = this.items[i].element.position.x - 2;
    }
    this.group.position.x = - (this.items.length - 1);
  }
}
</code></pre>
                    </li>
                    <li>
<pre><code class="xml">
&lt;div class="fixed-ratio"&gt;
    &lt;!-- Plátno pro scénu --&gt;
    &lt;canvas id="canvas2" "&gt;&lt;/canvas&gt;
&lt;/div&gt;
&lt;div&gt;
    &lt;!-- Formulář pro ovládání scény --&gt;
    &lt;form&gt;
        &lt;ul&gt;
            &lt;!-- Cyklus s využitím directivy *ngFor pro ovládací panely ke všem kostkám --&gt;
            &lt;li *ngFor="let item of items; index as index"&gt;
                &lt;div&gt;
                    &lt;div class="grid"&gt;
                        &lt;div&gt;
                            &lt;label&gt;Objekt #{{index + 1}}&lt;/label&gt;
                            &lt;div&gt;
                                &lt;input type="color" [(ngModel)]="item.color" name="color {{ index }}" /&gt;
                                &lt;span [ngStyle]="{'color': item.color }"&gt; {{ item.color }} &lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;div class="grid"&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↔ W {{ item.size.x * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.x" min="0.1" max="2" step="0.1" name="w{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↕ H {{ item.size.y * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.y" min="0.1" max="2" step="0.1" name="h{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;⤢ L {{ item.size.z * 100 }}%&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.size.z" min="0.1" max="2" step="0.1" name="l{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;→ X {{ item.position.x }}&lt;/label&gt;
                                     &lt;input type="range" [(ngModel)]="item.position.x" min="-1" max="1" step="0.1" name="x{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↑ Y {{ item.position.y }}&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.position.y" min="-1" max="1" step="0.1" name="y{{ index }}" /&gt;
                                &lt;/div&gt;
                                &lt;div&gt;
                                    &lt;label&gt;↗ Z {{ item.position.z }}&lt;/label&gt;
                                    &lt;input type="range" [(ngModel)]="item.position.z" min="-1" max="1" step="0.1" name="z{{ index }}" /&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div&gt;
                            &lt;!-- Tlačítko napojené na metodu pro smazání kostky --&gt;
                            &lt;a (click)="remove(index)"&gt;Smazat&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;!-- Tlačítko napojené na metodu pro přidání kostky --&gt;
        &lt;a (click)="add()"&gt;Přidat nový objekt&lt;/a&gt;
    &lt;/form&gt;
&lt;/div&gt;
</code></pre>
                    </li>
                    <li>
<pre><code class="javascript">
import { NgModule, NO_ERRORS_SCHEMA } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';

import { App2Component } from './app2.component';

@NgModule({
  imports:      [ BrowserModule, FormsModule ],
  declarations: [ App2Component ],
  bootstrap:    [ App2Component ],
  schemas:      [ NO_ERRORS_SCHEMA ]
})
export class AppModule { }
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <app2>Načítání...</app2>
        </div>
        <!-- #endregion -->

    </div>


    <script type="text/javascript" src="../runtime.js"></script>
    <script type="text/javascript" src="../polyfills.js"></script>
    <script type="text/javascript" src="../styles.js"></script>
    <script type="text/javascript" src="../vendor.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>