﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DP ❯ Vue.js & PlayCanvas</title>
    <link rel="icon" href="../../../favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../../libs/uikit/css/uikit.min.css" />
    <script src="../../../libs/uikit/js/uikit.min.js"></script>
    <script src="../../../libs/uikit/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="../../../libs/highlight/vs2015.css" />
    <script src="../../../libs/highlight/highlight.pack.js"></script>

    <script src="../../../libs/playcanvas/playcanvas.min.js"></script>
    <script src="../../../libs/playcanvas/playcanvas.scripts.js"></script>
    <script src="../../../libs/vue/vue.min.js"></script>

    <script src="../../../js/common.js"></script>
    <script src="../../../js/common.playcanvas.js"></script>
    <script src="../../../js/mw.js"></script>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>
<body class="uk-light uk-background-secondary">
    <div uk-sticky="show-on-up: true; media: 960">
        <div class="uk-position-top-left uk-padding-small examples">
            <a href="../../../" class="library done uk-background-secondary"><span uk-icon="icon: chevron-left; ratio: 1.5"></span>Zpět</a>
        </div>
    </div>
    <div class="uk-section uk-text-center">
        <h1>Vue.js & PlayCanvas</h1>
    </div>

    <div class="uk-child-width-1-1 uk-child-width-1-2@m uk-padding" uk-grid>

        <!-- #region App1 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #1 - Data-binding do 3D scény</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> 3D Scéna + VUE Aplikace <span class="code-icon js">JS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Ovládání <span class="code-icon html">HTML</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="javascript" id="code1"></code></pre>
                    </li>
                    <li>
<pre><code class="xml">
&lt;form&gt;
	&lt;div&gt;
		&lt;label&gt;Text&lt;/label&gt;
		&lt;input type="text" v-model="text" /&gt;
	&lt;/div&gt;
	&lt;div class="grid"&gt;
		&lt;div&gt;
			&lt;label&gt;Základní barva&lt;/label&gt;
			&lt;div&gt;
				&lt;input type="color" v-model="diffuseColor" /&gt;
				&lt;span :style="'color: ' + diffuseColor"&gt; {{ diffuseColor }} &lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div&gt;
			&lt;label&gt;Barva lesku&lt;/label&gt;
			&lt;div&gt;
				&lt;input type="color" v-model="specularColor" /&gt;
				&lt;span :style="'color: ' + specularColor"&gt; {{ specularColor }} &lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/form&gt;
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <div class="fixed-ratio">
                    <canvas id="canvas1"></canvas>
                </div>
                <div id="app1">
                    <form class="uk-form-stacked">
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label">Text</label>
                            <div class="uk-form-controls">
                                <input type="text" v-model="text" class="uk-input" />
                            </div>
                        </div>
                        <div class="uk-margin-small-top">
                            <div class="uk-child-width-1-2 uk-grid-small" uk-grid>
                                <div>
                                    <label class="uk-form-label">Základní barva</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="diffuseColor" />
                                        <span :style="'color: ' + diffuseColor"> {{ diffuseColor }} </span>
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Barva okraje</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="outlineColor" />
                                        <span :style="'color: ' + outlineColor"> {{ outlineColor }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region App2 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #2 - Práce s polem</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> 3D Scéna + VUE Aplikace <span class="code-icon js">JS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Ovládání <span class="code-icon html">HTML</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="javascript" id="code2"></code></pre>
                    </li>
                    <li>
<pre><code class="xml">
&lt;form&gt;
    &lt;ul&gt;
        &lt;li v-for="(item, index) in items"&gt;
            &lt;div class="grid"&gt;
                &lt;div&gt;
                    &lt;label&gt;Objekt #{{index + 1}}&lt;/label&gt;
                    &lt;div&gt;
                        &lt;input type="color" v-model="item.color" /&gt;
                        &lt;span :style="'color: ' + item.color"&gt; {{ item.color }} &lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label&gt;Šířka {{ Math.floor(item.size.x * 100) }}%&lt;/label&gt;
                    &lt;input type="range" v-model="item.size.x" min="0.1" max="2" step="0.1" /&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label&gt;Výška {{ Math.floor(item.size.y * 100) }}%&lt;/label&gt;
                    &lt;input type="range" v-model="item.size.y" min="0.1" max="2" step="0.1" /&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label&gt;Délka {{ Math.floor(item.size.z * 100) }}%&lt;/label&gt;
                    &lt;input type="range" v-model="item.size.z" min="0.1" max="2" step="0.1" /&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label&gt;X {{ item.position.x || 0 }}&lt;/label&gt;
                    &lt;input type="range" v-model="item.position.x" min="-1" max="1" step="0.1" /&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label&gt;Y {{ item.position.y || 0 }}&lt;/label&gt;
                    &lt;input type="range" v-model="item.position.y" min="-1" max="1" step="0.1" /&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label&gt;Z {{ item.position.z || 0 }}&lt;/label&gt;
                    &lt;input type="range" v-model="item.position.z" min="-1" max="1" step="0.1" /&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;a v-on:click="remove(index)"&gt;Smazat&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
    &lt;a v-on:click="add()" &gt; Přidat nový objekt&lt;/a&gt;
&lt;/form&gt;
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <div class="fixed-ratio">
                    <canvas id="canvas2"></canvas>
                </div>
                <div id="app2">
                    <form class="uk-form-stacked">
                        <ul class="uk-list">
                            <li v-for="(item, index) in items">
                                <div class="uk-margin-small-top uk-box-shadow-small uk-padding-small">
                                    <div class="uk-grid-small" uk-grid>
                                        <div class="uk-width-auto">
                                            <label class="uk-form-label">Objekt #{{index + 1}}</label>
                                            <div class="uk-form-controls">
                                                <input type="color" v-model="item.color" uk-tooltip="Barva" />
                                                <span :style="'color: ' + item.color"> {{ item.color }} </span>
                                            </div>
                                        </div>
                                        <div class="uk-width-expand">
                                            <div class="uk-child-width-1-6 uk-grid-small uk-text-center" uk-grid>
                                                <div>
                                                    <label class="uk-form-label">↔ W {{ Math.floor(item.size.x * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.x" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↕ H {{ Math.floor(item.size.y * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.y" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">⤢ L {{ Math.floor(item.size.z * 100) }}%</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.size.z" class="uk-range" min="0.1" max="2" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">→ X {{ Math.floor(item.position.x * 10) / 10 }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.x" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↑ Y {{ item.position.y }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.y" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="uk-form-label">↗ Z {{ item.position.z }}</label>
                                                    <div class="uk-form-controls">
                                                        <input type="range" v-model="item.position.z" class="uk-range" min="-1" max="1" step="0.1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto uk-text-right">
                                            <a class="uk-icon-link" uk-tooltip="Smazat" uk-icon="icon: close; ratio: 1.5" v-on:click="remove(index)"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a v-on:click="add()" class="uk-link-reset"><span uk-icon="plus"></span> Přidat nový objekt</a>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region App3 -->
        <div class="uk-width-1-1">
            <h2 class="uk-heading-line"><span>Ukázka #3 - Pokročilejší scéna</span></h2>
        </div>
        <div>
            <div class="source">
                <ul class="uk-tab" uk-switcher>
                    <li><a href="#"><span uk-icon="file-text"></span> 3D Scéna <span class="code-icon js">JS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> VUE Aplikace <span class="code-icon js">JS</span></a></li>
                    <li><a href="#"><span uk-icon="file-text"></span> Ovládání <span class="code-icon html">HTML</span></a></li>
                </ul>
                <ul class="uk-switcher">
                    <li>
<pre><code class="javascript" id="code3"></code></pre>
                    </li>
                    <li>
<pre><code class="javascript" id="code4"></code></pre>
                    </li>
                    <li>
<pre><code class="xml">
&lt;form&gt;
	&lt;div&gt;
		&lt;label&gt;
			&lt;span class="left"&gt;0&lt;/span&gt;
			&lt;span class="right"&gt;255&lt;/span&gt;
		&lt;/label&gt;
		&lt;div&gt;
			&lt;input type="range" v-model="int" min="0" max="255" step="1" /&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div&gt;
		&lt;div class="grid"&gt;
			&lt;div&gt;
				&lt;label&gt;Číslo&lt;/label&gt;
				&lt;input type="text" v-model="int" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Binární zápis&lt;/label&gt;
				&lt;input type="text" v-model="bin" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Hexadecimální zápis&lt;/label&gt;
				&lt;input type="text" v-model="hex" /&gt;
			&lt;/div&gt;
			&lt;div&gt;
				&lt;label&gt;Barva světla&lt;/label&gt;
				&lt;input type="color" v-model="color" /&gt;
				&lt;span :style="'color: ' + color"&gt; {{ color }} &lt;/span&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/form&gt;
</code></pre>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="fixed-ratio">
                <canvas id="canvas3"></canvas>
            </div>
            <div id="app3">
                <div>
                    <form class="uk-form-stacked">
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label uk-width-1-1">
                                <span class="uk-float-left">0</span>
                                <span class="uk-float-right">255</span>
                            </label>
                            <div class="uk-form-controls">
                                <input type="range" v-model="int" min="0" max="255" step="1" class="uk-range" />
                            </div>
                        </div>
                        <div class="uk-margin-small-top">
                            <div class="uk-child-width-1-4 uk-grid-small" uk-grid>
                                <div>
                                    <label class="uk-form-label">Číslo</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="int" class="uk-input" maxlength="3" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Binární zápis</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="bin" class="uk-input" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Hexadecimální zápis</label>
                                    <div class="uk-form-controls">
                                        <input type="text" v-model="hex" class="uk-input" />
                                    </div>
                                </div>
                                <div>
                                    <label class="uk-form-label">Barva světla</label>
                                    <div class="uk-form-controls">
                                        <input type="color" v-model="color" uk-tooltip="Barva" />
                                        <span :style="'color: ' + color"> {{ color }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- #endregion -->


    </div>


    <script src="index.js"></script>
</body>
</html>