﻿html {
    background-color: #222; 
}

body {
    padding-bottom: 300px;
    scrollbar-color: dark;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: #444;
}

::-webkit-scrollbar-thumb {
    border-width: 3px;
    border-color: #444;
    border-style: solid;
    background-color: #999;
}

::-webkit-scrollbar-corner {
    background-color: #444;
}

/* Busy */
.busy {
    filter: opacity(0.5);
}
.busy h1::before {
    content: "";
    display: block;
    z-index: 10000000;
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}


/* Tabs */
span.code-icon {
    position: relative;
    border-radius: 6px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 12px;
}

    span.code-icon.js {
        background-color: #f6da09;
    }

    span.code-icon.ts {
        background-color: #1e87f0;
    }

    span.code-icon.html {
        background-color: #F16528;
    }

    span.code-icon.xml {
        background-color: #758D19;
    }

    span.code-icon.cmd {
        background-color: #333333;
    }

/* Forms */
input[type="color"] {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    border-style: none;
    padding: 0px;
    background-color: transparent;
    outline-style: none;
    cursor: pointer;
}


/* Source */
.source {
    min-height: 300px;
    height: 100%;
    position: relative;
}

    .source ul.uk-tab > * > a {
        border-bottom-width: 3px;
        height: 36px;
        box-sizing: border-box;
    }

    .source ul.uk-switcher {
        position: absolute;
        top: 36px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
        .source ul.uk-switcher li {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
            .source ul.uk-switcher li pre {
                height: 100%;
                position: relative;
                padding: 0px !important;
                border-radius: 0px !important;
                border-width: 0px;
                overflow: hidden;
                background-color: transparent;
            }

                .source ul.uk-switcher li pre code {
                    box-sizing: border-box;
                    height: 99%;
                    position: relative;
                    padding: 12px !important;
                    background-color: #1E1E1E;
                    overflow: scroll;
                }

/* Fixed ratio */
.fixed-ratio {
    position: relative;
    padding-top: 56.25%;
}

    .fixed-ratio > * {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

canvas {
    cursor: pointer;
}

/* Examples */
.examples {
    border-collapse: collapse;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

    .examples td, .examples th {
        position: relative;
        box-sizing: border-box;
        width: 25% !important;
        min-width: 25% !important;
        max-width: 25% !important;
        vertical-align: middle;
        text-align: left;
        border: 1px solid #555;
    }
        .examples th img {
            width: 32px;
        }

    .examples tr:has(td:hover) {
        background-color: rgba(255, 255, 255, 0.05);
    }

        .examples td:hover::after {
            position: absolute;
            content: '';
            background-color: rgba(255, 255, 255, 0.05);
            height: 220vh;
            left: 0;
            top: -100vh;
            width: 100%;
            z-index: -1;
        }

.examples a {
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: #999;
    margin: 2px;
}
    .examples a.library {
        padding-right: 12px;
        font-weight: 600;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        @media (max-width: 640px) {
            .examples a.library {
                width: 60px;
            }
        }

    .examples a.done {
        color: #fff;
        border-color: #fff;
    }
        .examples a.done:hover {
            color: #39f;
            border-color: #39f;
        }

/* No borders */
.nb {
    border-style: none !important;
}
.nb-t {
    border-top-style: none !important;
}
.nb-b {
    border-bottom-style: none !important;
}
.nb-l {
    border-left-style: none !important;
}
.nb-r {
    border-right-style: none !important;
}


/* Seats */
.seat-free, .seat-taken {
    padding: 0 15px;
    width: 100%;
}

.seat-free {
    background-color: #555;
}

.seat-taken {
    background-color: #ff9900;
}

#app3 .uk-table td {
    padding: 12px 10px;
}

/* Vertical text */
.vertical-text {
    text-orientation: upright;
    writing-mode: vertical-rl;
    min-width: 30px;
}

/* Background */
.bg-img {
    background-image: url(../img/image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.a-modal {
    display: none !important;
}